/*
 * Elastic Cloud API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.BasicFailedReply;
import io.swagger.client.model.ClusterCommandResponse;
import io.swagger.client.model.ClusterCrudResponse;
import io.swagger.client.model.ClusterCurationSettings;
import io.swagger.client.model.ClusterMetadataSettings;
import io.swagger.client.model.ClusterPlanMigrationResponse;
import io.swagger.client.model.ClusterSnapshotRequest;
import io.swagger.client.model.ClusterSnapshotResponse;
import io.swagger.client.model.ClusterSnapshotSettings;
import io.swagger.client.model.CreateElasticsearchClusterRequest;
import io.swagger.client.model.CrossClusterSearchClusters;
import io.swagger.client.model.CrossClusterSearchSettings;
import io.swagger.client.model.ElasticsearchClusterInfo;
import io.swagger.client.model.ElasticsearchClusterInstanceSettingsOverrides;
import io.swagger.client.model.ElasticsearchClusterPlan;
import io.swagger.client.model.ElasticsearchClusterPlansInfo;
import io.swagger.client.model.ElasticsearchClustersInfo;
import io.swagger.client.model.EmptyResponse;
import io.swagger.client.model.KeystoreContents;
import io.swagger.client.model.LegacySecuritySettings;
import io.swagger.client.model.ModelVersionIndexSynchronizationResults;
import io.swagger.client.model.SearchRequest;
import io.swagger.client.model.TransientElasticsearchPlanConfiguration;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ClustersElasticsearchApi {
    private ApiClient apiClient;

    public ClustersElasticsearchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ClustersElasticsearchApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for cancelEsClusterMonitoring
     * @param clusterId Elasticsearch cluster identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cancelEsClusterMonitoringCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}/monitoring"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cancelEsClusterMonitoringValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling cancelEsClusterMonitoring(Async)");
        }
        
        com.squareup.okhttp.Call call = cancelEsClusterMonitoringCall(clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel monitoring
     * Deletes all monitoring destinations for the Elasticsearch cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse cancelEsClusterMonitoring(String clusterId) throws ApiException {
        ApiResponse<EmptyResponse> resp = cancelEsClusterMonitoringWithHttpInfo(clusterId);
        return resp.getData();
    }

    /**
     * Cancel monitoring
     * Deletes all monitoring destinations for the Elasticsearch cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> cancelEsClusterMonitoringWithHttpInfo(String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = cancelEsClusterMonitoringValidateBeforeCall(clusterId, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel monitoring (asynchronously)
     * Deletes all monitoring destinations for the Elasticsearch cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cancelEsClusterMonitoringAsync(String clusterId, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cancelEsClusterMonitoringValidateBeforeCall(clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cancelEsClusterPendingPlan
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are pending. The default is &#x60;false&#x60;. (optional)
     * @param forceDelete \&quot;When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cancelEsClusterPendingPlanCall(String clusterId, Boolean ignoreMissing, Boolean forceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}/plan/pending"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (ignoreMissing != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ignore_missing", ignoreMissing));
        if (forceDelete != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force_delete", forceDelete));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cancelEsClusterPendingPlanValidateBeforeCall(String clusterId, Boolean ignoreMissing, Boolean forceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling cancelEsClusterPendingPlan(Async)");
        }
        
        com.squareup.okhttp.Call call = cancelEsClusterPendingPlanCall(clusterId, ignoreMissing, forceDelete, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel pending plan
     * Cancels the pending plan of the Elasticsearch cluster.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are pending. The default is &#x60;false&#x60;. (optional)
     * @param forceDelete \&quot;When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse cancelEsClusterPendingPlan(String clusterId, Boolean ignoreMissing, Boolean forceDelete) throws ApiException {
        ApiResponse<EmptyResponse> resp = cancelEsClusterPendingPlanWithHttpInfo(clusterId, ignoreMissing, forceDelete);
        return resp.getData();
    }

    /**
     * Cancel pending plan
     * Cancels the pending plan of the Elasticsearch cluster.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are pending. The default is &#x60;false&#x60;. (optional)
     * @param forceDelete \&quot;When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> cancelEsClusterPendingPlanWithHttpInfo(String clusterId, Boolean ignoreMissing, Boolean forceDelete) throws ApiException {
        com.squareup.okhttp.Call call = cancelEsClusterPendingPlanValidateBeforeCall(clusterId, ignoreMissing, forceDelete, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel pending plan (asynchronously)
     * Cancels the pending plan of the Elasticsearch cluster.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are pending. The default is &#x60;false&#x60;. (optional)
     * @param forceDelete \&quot;When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cancelEsClusterPendingPlanAsync(String clusterId, Boolean ignoreMissing, Boolean forceDelete, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cancelEsClusterPendingPlanValidateBeforeCall(clusterId, ignoreMissing, forceDelete, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createEsCluster
     * @param body The cluster definition (required)
     * @param validateOnly When &#x60;true&#x60;, validates the cluster definition without creating the cluster. (optional)
     * @param requestId (Optional) The idempotency token. When two create requests share the same &#x60;request_id&#x60; (minimum size of 32 characters, maximum size of 128 characters), only one cluster is created. The second request returns the information for that cluster, but the password field is blank. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createEsClusterCall(CreateElasticsearchClusterRequest body, Boolean validateOnly, String requestId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (validateOnly != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("validate_only", validateOnly));
        if (requestId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("request_id", requestId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "*/*"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createEsClusterValidateBeforeCall(CreateElasticsearchClusterRequest body, Boolean validateOnly, String requestId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createEsCluster(Async)");
        }
        
        com.squareup.okhttp.Call call = createEsClusterCall(body, validateOnly, requestId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create cluster
     * Creates an Elasticsearch cluster.
     * @param body The cluster definition (required)
     * @param validateOnly When &#x60;true&#x60;, validates the cluster definition without creating the cluster. (optional)
     * @param requestId (Optional) The idempotency token. When two create requests share the same &#x60;request_id&#x60; (minimum size of 32 characters, maximum size of 128 characters), only one cluster is created. The second request returns the information for that cluster, but the password field is blank. (optional)
     * @return ClusterCrudResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ClusterCrudResponse createEsCluster(CreateElasticsearchClusterRequest body, Boolean validateOnly, String requestId) throws ApiException {
        ApiResponse<ClusterCrudResponse> resp = createEsClusterWithHttpInfo(body, validateOnly, requestId);
        return resp.getData();
    }

    /**
     * Create cluster
     * Creates an Elasticsearch cluster.
     * @param body The cluster definition (required)
     * @param validateOnly When &#x60;true&#x60;, validates the cluster definition without creating the cluster. (optional)
     * @param requestId (Optional) The idempotency token. When two create requests share the same &#x60;request_id&#x60; (minimum size of 32 characters, maximum size of 128 characters), only one cluster is created. The second request returns the information for that cluster, but the password field is blank. (optional)
     * @return ApiResponse&lt;ClusterCrudResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ClusterCrudResponse> createEsClusterWithHttpInfo(CreateElasticsearchClusterRequest body, Boolean validateOnly, String requestId) throws ApiException {
        com.squareup.okhttp.Call call = createEsClusterValidateBeforeCall(body, validateOnly, requestId, null, null);
        Type localVarReturnType = new TypeToken<ClusterCrudResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create cluster (asynchronously)
     * Creates an Elasticsearch cluster.
     * @param body The cluster definition (required)
     * @param validateOnly When &#x60;true&#x60;, validates the cluster definition without creating the cluster. (optional)
     * @param requestId (Optional) The idempotency token. When two create requests share the same &#x60;request_id&#x60; (minimum size of 32 characters, maximum size of 128 characters), only one cluster is created. The second request returns the information for that cluster, but the password field is blank. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createEsClusterAsync(CreateElasticsearchClusterRequest body, Boolean validateOnly, String requestId, final ApiCallback<ClusterCrudResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createEsClusterValidateBeforeCall(body, validateOnly, requestId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ClusterCrudResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteEsCluster
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteEsClusterCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteEsClusterValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling deleteEsCluster(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteEsClusterCall(clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete cluster
     * Deletes the Elasticsearch cluster. Before you delete the Elasticsearch cluster, you must first successfully issue a &#x60;_shutdown&#x60; command.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse deleteEsCluster(String clusterId) throws ApiException {
        ApiResponse<EmptyResponse> resp = deleteEsClusterWithHttpInfo(clusterId);
        return resp.getData();
    }

    /**
     * Delete cluster
     * Deletes the Elasticsearch cluster. Before you delete the Elasticsearch cluster, you must first successfully issue a &#x60;_shutdown&#x60; command.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> deleteEsClusterWithHttpInfo(String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = deleteEsClusterValidateBeforeCall(clusterId, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete cluster (asynchronously)
     * Deletes the Elasticsearch cluster. Before you delete the Elasticsearch cluster, you must first successfully issue a &#x60;_shutdown&#x60; command.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteEsClusterAsync(String clusterId, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteEsClusterValidateBeforeCall(clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteEsProxyRequests
     * @param clusterId Identifier for the Elasticsearch cluster (required)
     * @param xManagementRequest X-Management-Request header value. Needs to be set to true (required)
     * @param elasticsearchPath The URL part to proxy to the Elasticsearch cluster. Example: _search or _cat/indices?v&amp;h&#x3D;i,tm&amp;s&#x3D;tm:desc (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteEsProxyRequestsCall(String clusterId, String xManagementRequest, String elasticsearchPath, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}/proxy/{elasticsearch_path}"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()))
            .replaceAll("\\{" + "elasticsearch_path" + "\\}", apiClient.escapeString(elasticsearchPath.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xManagementRequest != null)
        localVarHeaderParams.put("X-Management-Request", apiClient.parameterToString(xManagementRequest));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteEsProxyRequestsValidateBeforeCall(String clusterId, String xManagementRequest, String elasticsearchPath, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling deleteEsProxyRequests(Async)");
        }
        // verify the required parameter 'xManagementRequest' is set
        if (xManagementRequest == null) {
            throw new ApiException("Missing the required parameter 'xManagementRequest' when calling deleteEsProxyRequests(Async)");
        }
        // verify the required parameter 'elasticsearchPath' is set
        if (elasticsearchPath == null) {
            throw new ApiException("Missing the required parameter 'elasticsearchPath' when calling deleteEsProxyRequests(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteEsProxyRequestsCall(clusterId, xManagementRequest, elasticsearchPath, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Proxies HTTP DELETE request to the cluster
     * Proxies HTTP DELETE request to the cluster. Requires that HTTP header X-Management-Request be specified. This endpoint is for management use and does not provide high performance.
     * @param clusterId Identifier for the Elasticsearch cluster (required)
     * @param xManagementRequest X-Management-Request header value. Needs to be set to true (required)
     * @param elasticsearchPath The URL part to proxy to the Elasticsearch cluster. Example: _search or _cat/indices?v&amp;h&#x3D;i,tm&amp;s&#x3D;tm:desc (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteEsProxyRequests(String clusterId, String xManagementRequest, String elasticsearchPath) throws ApiException {
        deleteEsProxyRequestsWithHttpInfo(clusterId, xManagementRequest, elasticsearchPath);
    }

    /**
     * Proxies HTTP DELETE request to the cluster
     * Proxies HTTP DELETE request to the cluster. Requires that HTTP header X-Management-Request be specified. This endpoint is for management use and does not provide high performance.
     * @param clusterId Identifier for the Elasticsearch cluster (required)
     * @param xManagementRequest X-Management-Request header value. Needs to be set to true (required)
     * @param elasticsearchPath The URL part to proxy to the Elasticsearch cluster. Example: _search or _cat/indices?v&amp;h&#x3D;i,tm&amp;s&#x3D;tm:desc (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteEsProxyRequestsWithHttpInfo(String clusterId, String xManagementRequest, String elasticsearchPath) throws ApiException {
        com.squareup.okhttp.Call call = deleteEsProxyRequestsValidateBeforeCall(clusterId, xManagementRequest, elasticsearchPath, null, null);
        return apiClient.execute(call);
    }

    /**
     * Proxies HTTP DELETE request to the cluster (asynchronously)
     * Proxies HTTP DELETE request to the cluster. Requires that HTTP header X-Management-Request be specified. This endpoint is for management use and does not provide high performance.
     * @param clusterId Identifier for the Elasticsearch cluster (required)
     * @param xManagementRequest X-Management-Request header value. Needs to be set to true (required)
     * @param elasticsearchPath The URL part to proxy to the Elasticsearch cluster. Example: _search or _cat/indices?v&amp;h&#x3D;i,tm&amp;s&#x3D;tm:desc (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteEsProxyRequestsAsync(String clusterId, String xManagementRequest, String elasticsearchPath, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteEsProxyRequestsValidateBeforeCall(clusterId, xManagementRequest, elasticsearchPath, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for generateEsClusterDiagnostics
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call generateEsClusterDiagnosticsCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}/support/_generate-diagnostics"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call generateEsClusterDiagnosticsValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling generateEsClusterDiagnostics(Async)");
        }
        
        com.squareup.okhttp.Call call = generateEsClusterDiagnosticsCall(clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Generate diagnostics
     * Retrieves a support diagnostic bundle from an active Elasticsearch cluster. To successfully retrieve a support diagnostic bundle, the cluster must be responsive.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String generateEsClusterDiagnostics(String clusterId) throws ApiException {
        ApiResponse<String> resp = generateEsClusterDiagnosticsWithHttpInfo(clusterId);
        return resp.getData();
    }

    /**
     * Generate diagnostics
     * Retrieves a support diagnostic bundle from an active Elasticsearch cluster. To successfully retrieve a support diagnostic bundle, the cluster must be responsive.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> generateEsClusterDiagnosticsWithHttpInfo(String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = generateEsClusterDiagnosticsValidateBeforeCall(clusterId, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Generate diagnostics (asynchronously)
     * Retrieves a support diagnostic bundle from an active Elasticsearch cluster. To successfully retrieve a support diagnostic bundle, the cluster must be responsive.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call generateEsClusterDiagnosticsAsync(String clusterId, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = generateEsClusterDiagnosticsValidateBeforeCall(clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for generateEsClusterLogs
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param date The log retrieval start date in standard format. For example, &#x60;YYYY-MM-DD [THH [:mm] ]&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call generateEsClusterLogsCall(String clusterId, String date, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}/support/_generate-logs"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (date != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("date", date));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call generateEsClusterLogsValidateBeforeCall(String clusterId, String date, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling generateEsClusterLogs(Async)");
        }
        // verify the required parameter 'date' is set
        if (date == null) {
            throw new ApiException("Missing the required parameter 'date' when calling generateEsClusterLogs(Async)");
        }
        
        com.squareup.okhttp.Call call = generateEsClusterLogsCall(clusterId, date, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Generate logs
     * Retrieves the log file for the Elasticsearch cluster.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param date The log retrieval start date in standard format. For example, &#x60;YYYY-MM-DD [THH [:mm] ]&#x60;. (required)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String generateEsClusterLogs(String clusterId, String date) throws ApiException {
        ApiResponse<String> resp = generateEsClusterLogsWithHttpInfo(clusterId, date);
        return resp.getData();
    }

    /**
     * Generate logs
     * Retrieves the log file for the Elasticsearch cluster.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param date The log retrieval start date in standard format. For example, &#x60;YYYY-MM-DD [THH [:mm] ]&#x60;. (required)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> generateEsClusterLogsWithHttpInfo(String clusterId, String date) throws ApiException {
        com.squareup.okhttp.Call call = generateEsClusterLogsValidateBeforeCall(clusterId, date, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Generate logs (asynchronously)
     * Retrieves the log file for the Elasticsearch cluster.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param date The log retrieval start date in standard format. For example, &#x60;YYYY-MM-DD [THH [:mm] ]&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call generateEsClusterLogsAsync(String clusterId, String date, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = generateEsClusterLogsValidateBeforeCall(clusterId, date, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getEsCcsEligibleRemotes
     * @param version The version of the cross-cluster search cluster that will link with the remote candidates. (required)
     * @param q (Optional) Cluster name or id prefix to filters the candidates. (optional)
     * @param ownerId (Optional) Returns only clusters filtered by the provided owner id. (optional)
     * @param size (Optional) Maximum number of clusters to include in the response. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEsCcsEligibleRemotesCall(String version, String q, String ownerId, Integer size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/ccs/eligible_remotes";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));
        if (q != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
        if (ownerId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("owner_id", ownerId));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEsCcsEligibleRemotesValidateBeforeCall(String version, String q, String ownerId, Integer size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling getEsCcsEligibleRemotes(Async)");
        }
        
        com.squareup.okhttp.Call call = getEsCcsEligibleRemotesCall(version, q, ownerId, size, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Search clusters that can be used as cross-cluster search remotes
     * Retrieves the information for all of the Elasticsearch clusters that can selected as remotes in a given version.
     * @param version The version of the cross-cluster search cluster that will link with the remote candidates. (required)
     * @param q (Optional) Cluster name or id prefix to filters the candidates. (optional)
     * @param ownerId (Optional) Returns only clusters filtered by the provided owner id. (optional)
     * @param size (Optional) Maximum number of clusters to include in the response. (optional)
     * @return ElasticsearchClustersInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ElasticsearchClustersInfo getEsCcsEligibleRemotes(String version, String q, String ownerId, Integer size) throws ApiException {
        ApiResponse<ElasticsearchClustersInfo> resp = getEsCcsEligibleRemotesWithHttpInfo(version, q, ownerId, size);
        return resp.getData();
    }

    /**
     * Search clusters that can be used as cross-cluster search remotes
     * Retrieves the information for all of the Elasticsearch clusters that can selected as remotes in a given version.
     * @param version The version of the cross-cluster search cluster that will link with the remote candidates. (required)
     * @param q (Optional) Cluster name or id prefix to filters the candidates. (optional)
     * @param ownerId (Optional) Returns only clusters filtered by the provided owner id. (optional)
     * @param size (Optional) Maximum number of clusters to include in the response. (optional)
     * @return ApiResponse&lt;ElasticsearchClustersInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ElasticsearchClustersInfo> getEsCcsEligibleRemotesWithHttpInfo(String version, String q, String ownerId, Integer size) throws ApiException {
        com.squareup.okhttp.Call call = getEsCcsEligibleRemotesValidateBeforeCall(version, q, ownerId, size, null, null);
        Type localVarReturnType = new TypeToken<ElasticsearchClustersInfo>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search clusters that can be used as cross-cluster search remotes (asynchronously)
     * Retrieves the information for all of the Elasticsearch clusters that can selected as remotes in a given version.
     * @param version The version of the cross-cluster search cluster that will link with the remote candidates. (required)
     * @param q (Optional) Cluster name or id prefix to filters the candidates. (optional)
     * @param ownerId (Optional) Returns only clusters filtered by the provided owner id. (optional)
     * @param size (Optional) Maximum number of clusters to include in the response. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEsCcsEligibleRemotesAsync(String version, String q, String ownerId, Integer size, final ApiCallback<ElasticsearchClustersInfo> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEsCcsEligibleRemotesValidateBeforeCall(version, q, ownerId, size, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ElasticsearchClustersInfo>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getEsCluster
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param showSecurity Includes the Elasticsearch 2.x security information in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param showSystemAlerts The number of system alerts to include in the response. For example, the number of forced restarts caused from a limited amount of memory. Only numbers greater than zero return a field. NOTE: Responses can include a large number of system alerts. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @param enrichWithTemplate When plans are shown, includes the missing elements from the applicable deployment template. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEsClusterCall(String clusterId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showSecurity != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_security", showSecurity));
        if (showMetadata != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_metadata", showMetadata));
        if (showPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plans", showPlans));
        if (showPlanLogs != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_logs", showPlanLogs));
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (convertLegacyPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("convert_legacy_plans", convertLegacyPlans));
        if (showSystemAlerts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_system_alerts", showSystemAlerts));
        if (showSettings != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_settings", showSettings));
        if (enrichWithTemplate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("enrich_with_template", enrichWithTemplate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEsClusterValidateBeforeCall(String clusterId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getEsCluster(Async)");
        }
        
        com.squareup.okhttp.Call call = getEsClusterCall(clusterId, showSecurity, showMetadata, showPlans, showPlanLogs, showPlanDefaults, convertLegacyPlans, showSystemAlerts, showSettings, enrichWithTemplate, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get cluster
     * Retrieves the Elasticsearch cluster information.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param showSecurity Includes the Elasticsearch 2.x security information in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param showSystemAlerts The number of system alerts to include in the response. For example, the number of forced restarts caused from a limited amount of memory. Only numbers greater than zero return a field. NOTE: Responses can include a large number of system alerts. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @param enrichWithTemplate When plans are shown, includes the missing elements from the applicable deployment template. (optional)
     * @return ElasticsearchClusterInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ElasticsearchClusterInfo getEsCluster(String clusterId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate) throws ApiException {
        ApiResponse<ElasticsearchClusterInfo> resp = getEsClusterWithHttpInfo(clusterId, showSecurity, showMetadata, showPlans, showPlanLogs, showPlanDefaults, convertLegacyPlans, showSystemAlerts, showSettings, enrichWithTemplate);
        return resp.getData();
    }

    /**
     * Get cluster
     * Retrieves the Elasticsearch cluster information.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param showSecurity Includes the Elasticsearch 2.x security information in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param showSystemAlerts The number of system alerts to include in the response. For example, the number of forced restarts caused from a limited amount of memory. Only numbers greater than zero return a field. NOTE: Responses can include a large number of system alerts. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @param enrichWithTemplate When plans are shown, includes the missing elements from the applicable deployment template. (optional)
     * @return ApiResponse&lt;ElasticsearchClusterInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ElasticsearchClusterInfo> getEsClusterWithHttpInfo(String clusterId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate) throws ApiException {
        com.squareup.okhttp.Call call = getEsClusterValidateBeforeCall(clusterId, showSecurity, showMetadata, showPlans, showPlanLogs, showPlanDefaults, convertLegacyPlans, showSystemAlerts, showSettings, enrichWithTemplate, null, null);
        Type localVarReturnType = new TypeToken<ElasticsearchClusterInfo>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get cluster (asynchronously)
     * Retrieves the Elasticsearch cluster information.
     * @param clusterId The Elasticsearch cluster identifier. (required)
     * @param showSecurity Includes the Elasticsearch 2.x security information in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param showSystemAlerts The number of system alerts to include in the response. For example, the number of forced restarts caused from a limited amount of memory. Only numbers greater than zero return a field. NOTE: Responses can include a large number of system alerts. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @param enrichWithTemplate When plans are shown, includes the missing elements from the applicable deployment template. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEsClusterAsync(String clusterId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate, final ApiCallback<ElasticsearchClusterInfo> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEsClusterValidateBeforeCall(clusterId, showSecurity, showMetadata, showPlans, showPlanLogs, showPlanDefaults, convertLegacyPlans, showSystemAlerts, showSettings, enrichWithTemplate, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ElasticsearchClusterInfo>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getEsClusterCcs
     * @param clusterId Elasticsearch cluster identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEsClusterCcsCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}/ccs"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEsClusterCcsValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getEsClusterCcs(Async)");
        }
        
        com.squareup.okhttp.Call call = getEsClusterCcsCall(clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get cross-cluster search clusters
     * Returns the list of cross-cluster search clusters&#x27; IDs for the remote cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @return CrossClusterSearchClusters
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CrossClusterSearchClusters getEsClusterCcs(String clusterId) throws ApiException {
        ApiResponse<CrossClusterSearchClusters> resp = getEsClusterCcsWithHttpInfo(clusterId);
        return resp.getData();
    }

    /**
     * Get cross-cluster search clusters
     * Returns the list of cross-cluster search clusters&#x27; IDs for the remote cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @return ApiResponse&lt;CrossClusterSearchClusters&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CrossClusterSearchClusters> getEsClusterCcsWithHttpInfo(String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = getEsClusterCcsValidateBeforeCall(clusterId, null, null);
        Type localVarReturnType = new TypeToken<CrossClusterSearchClusters>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get cross-cluster search clusters (asynchronously)
     * Returns the list of cross-cluster search clusters&#x27; IDs for the remote cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEsClusterCcsAsync(String clusterId, final ApiCallback<CrossClusterSearchClusters> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEsClusterCcsValidateBeforeCall(clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CrossClusterSearchClusters>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getEsClusterCcsSettings
     * @param clusterId Elasticsearch cluster identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEsClusterCcsSettingsCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}/ccs/settings"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEsClusterCcsSettingsValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getEsClusterCcsSettings(Async)");
        }
        
        com.squareup.okhttp.Call call = getEsClusterCcsSettingsCall(clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get remote clusters for cross-cluster search
     * Returns cross-cluster search configuration for the Elasticsearch cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @return CrossClusterSearchSettings
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CrossClusterSearchSettings getEsClusterCcsSettings(String clusterId) throws ApiException {
        ApiResponse<CrossClusterSearchSettings> resp = getEsClusterCcsSettingsWithHttpInfo(clusterId);
        return resp.getData();
    }

    /**
     * Get remote clusters for cross-cluster search
     * Returns cross-cluster search configuration for the Elasticsearch cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @return ApiResponse&lt;CrossClusterSearchSettings&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CrossClusterSearchSettings> getEsClusterCcsSettingsWithHttpInfo(String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = getEsClusterCcsSettingsValidateBeforeCall(clusterId, null, null);
        Type localVarReturnType = new TypeToken<CrossClusterSearchSettings>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get remote clusters for cross-cluster search (asynchronously)
     * Returns cross-cluster search configuration for the Elasticsearch cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEsClusterCcsSettingsAsync(String clusterId, final ApiCallback<CrossClusterSearchSettings> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEsClusterCcsSettingsValidateBeforeCall(clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CrossClusterSearchSettings>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getEsClusterCurationSettings
     * @param clusterId Elasticsearch cluster identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEsClusterCurationSettingsCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}/curation/settings"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEsClusterCurationSettingsValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getEsClusterCurationSettings(Async)");
        }
        
        com.squareup.okhttp.Call call = getEsClusterCurationSettingsCall(clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get cluster curation settings
     * Retrieves cluster curation settings for an Elasticsearch cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @return ClusterCurationSettings
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ClusterCurationSettings getEsClusterCurationSettings(String clusterId) throws ApiException {
        ApiResponse<ClusterCurationSettings> resp = getEsClusterCurationSettingsWithHttpInfo(clusterId);
        return resp.getData();
    }

    /**
     * Get cluster curation settings
     * Retrieves cluster curation settings for an Elasticsearch cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @return ApiResponse&lt;ClusterCurationSettings&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ClusterCurationSettings> getEsClusterCurationSettingsWithHttpInfo(String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = getEsClusterCurationSettingsValidateBeforeCall(clusterId, null, null);
        Type localVarReturnType = new TypeToken<ClusterCurationSettings>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get cluster curation settings (asynchronously)
     * Retrieves cluster curation settings for an Elasticsearch cluster.
     * @param clusterId Elasticsearch cluster identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEsClusterCurationSettingsAsync(String clusterId, final ApiCallback<ClusterCurationSettings> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEsClusterCurationSettingsValidateBeforeCall(clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ClusterCurationSettings>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getEsClusterKeystore
     * @param clusterId The Elasticsearch cluster identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEsClusterKeystoreCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/elasticsearch/{cluster_id}/keystore"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEsClusterKeystoreValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
[...]
