/*
 * Elastic Cloud API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.BasicFailedReply;
import io.swagger.client.model.ClusterCommandResponse;
import io.swagger.client.model.ClusterCrudResponse;
import io.swagger.client.model.ClusterMetadataSettings;
import io.swagger.client.model.ClusterUpgradeInfo;
import io.swagger.client.model.CreateKibanaRequest;
import io.swagger.client.model.EmptyResponse;
import io.swagger.client.model.KibanaClusterInfo;
import io.swagger.client.model.KibanaClusterPlan;
import io.swagger.client.model.KibanaClusterPlansInfo;
import io.swagger.client.model.KibanaClustersInfo;
import io.swagger.client.model.ModelVersionIndexSynchronizationResults;
import io.swagger.client.model.SearchRequest;
import io.swagger.client.model.TransientKibanaPlanConfiguration;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ClustersKibanaApi {
    private ApiClient apiClient;

    public ClustersKibanaApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ClustersKibanaApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for cancelKibanaClusterPendingPlan
     * @param clusterId The Kibana deployment identifier. (required)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are pending. The default is &#x60;false&#x60;. (optional)
     * @param forceDelete When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cancelKibanaClusterPendingPlanCall(String clusterId, Boolean ignoreMissing, Boolean forceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}/plan/pending"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (ignoreMissing != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ignore_missing", ignoreMissing));
        if (forceDelete != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force_delete", forceDelete));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cancelKibanaClusterPendingPlanValidateBeforeCall(String clusterId, Boolean ignoreMissing, Boolean forceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling cancelKibanaClusterPendingPlan(Async)");
        }
        
        com.squareup.okhttp.Call call = cancelKibanaClusterPendingPlanCall(clusterId, ignoreMissing, forceDelete, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel pending plan
     * Cancels the pending plan of the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are pending. The default is &#x60;false&#x60;. (optional)
     * @param forceDelete When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse cancelKibanaClusterPendingPlan(String clusterId, Boolean ignoreMissing, Boolean forceDelete) throws ApiException {
        ApiResponse<EmptyResponse> resp = cancelKibanaClusterPendingPlanWithHttpInfo(clusterId, ignoreMissing, forceDelete);
        return resp.getData();
    }

    /**
     * Cancel pending plan
     * Cancels the pending plan of the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are pending. The default is &#x60;false&#x60;. (optional)
     * @param forceDelete When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> cancelKibanaClusterPendingPlanWithHttpInfo(String clusterId, Boolean ignoreMissing, Boolean forceDelete) throws ApiException {
        com.squareup.okhttp.Call call = cancelKibanaClusterPendingPlanValidateBeforeCall(clusterId, ignoreMissing, forceDelete, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel pending plan (asynchronously)
     * Cancels the pending plan of the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are pending. The default is &#x60;false&#x60;. (optional)
     * @param forceDelete When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cancelKibanaClusterPendingPlanAsync(String clusterId, Boolean ignoreMissing, Boolean forceDelete, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cancelKibanaClusterPendingPlanValidateBeforeCall(clusterId, ignoreMissing, forceDelete, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createKibanaCluster
     * @param body The cluster definition (required)
     * @param validateOnly When &#x60;true&#x60;, validates the cluster definition without creating the cluster. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createKibanaClusterCall(CreateKibanaRequest body, Boolean validateOnly, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (validateOnly != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("validate_only", validateOnly));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "*/*"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createKibanaClusterValidateBeforeCall(CreateKibanaRequest body, Boolean validateOnly, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createKibanaCluster(Async)");
        }
        
        com.squareup.okhttp.Call call = createKibanaClusterCall(body, validateOnly, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create cluster
     * Creates a Kibana instance for the Elasticsearch cluster.
     * @param body The cluster definition (required)
     * @param validateOnly When &#x60;true&#x60;, validates the cluster definition without creating the cluster. (optional)
     * @return ClusterCrudResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ClusterCrudResponse createKibanaCluster(CreateKibanaRequest body, Boolean validateOnly) throws ApiException {
        ApiResponse<ClusterCrudResponse> resp = createKibanaClusterWithHttpInfo(body, validateOnly);
        return resp.getData();
    }

    /**
     * Create cluster
     * Creates a Kibana instance for the Elasticsearch cluster.
     * @param body The cluster definition (required)
     * @param validateOnly When &#x60;true&#x60;, validates the cluster definition without creating the cluster. (optional)
     * @return ApiResponse&lt;ClusterCrudResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ClusterCrudResponse> createKibanaClusterWithHttpInfo(CreateKibanaRequest body, Boolean validateOnly) throws ApiException {
        com.squareup.okhttp.Call call = createKibanaClusterValidateBeforeCall(body, validateOnly, null, null);
        Type localVarReturnType = new TypeToken<ClusterCrudResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create cluster (asynchronously)
     * Creates a Kibana instance for the Elasticsearch cluster.
     * @param body The cluster definition (required)
     * @param validateOnly When &#x60;true&#x60;, validates the cluster definition without creating the cluster. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createKibanaClusterAsync(CreateKibanaRequest body, Boolean validateOnly, final ApiCallback<ClusterCrudResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createKibanaClusterValidateBeforeCall(body, validateOnly, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ClusterCrudResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteKibProxyRequests
     * @param clusterId The Kibana deployment identifier (required)
     * @param xManagementRequest When set to &#x60;true&#x60;, includes the X-Management-Request header value. (required)
     * @param kibanaPath The URL part to proxy to the Kibana cluster. Example: /api/spaces/space or /api/upgrade_assistant/status (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteKibProxyRequestsCall(String clusterId, String xManagementRequest, String kibanaPath, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}/proxy/{kibana_path}"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()))
            .replaceAll("\\{" + "kibana_path" + "\\}", apiClient.escapeString(kibanaPath.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xManagementRequest != null)
        localVarHeaderParams.put("X-Management-Request", apiClient.parameterToString(xManagementRequest));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteKibProxyRequestsValidateBeforeCall(String clusterId, String xManagementRequest, String kibanaPath, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling deleteKibProxyRequests(Async)");
        }
        // verify the required parameter 'xManagementRequest' is set
        if (xManagementRequest == null) {
            throw new ApiException("Missing the required parameter 'xManagementRequest' when calling deleteKibProxyRequests(Async)");
        }
        // verify the required parameter 'kibanaPath' is set
        if (kibanaPath == null) {
            throw new ApiException("Missing the required parameter 'kibanaPath' when calling deleteKibProxyRequests(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteKibProxyRequestsCall(clusterId, xManagementRequest, kibanaPath, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Proxy HTTP DELETE request
     * Proxies the HTTP DELETE request to the cluster. You must specify the &#x60;X-Management-Request&#x60; HTTP header. NOTE: Use this endpoint for management purposes. It does not provide high performance.
     * @param clusterId The Kibana deployment identifier (required)
     * @param xManagementRequest When set to &#x60;true&#x60;, includes the X-Management-Request header value. (required)
     * @param kibanaPath The URL part to proxy to the Kibana cluster. Example: /api/spaces/space or /api/upgrade_assistant/status (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteKibProxyRequests(String clusterId, String xManagementRequest, String kibanaPath) throws ApiException {
        deleteKibProxyRequestsWithHttpInfo(clusterId, xManagementRequest, kibanaPath);
    }

    /**
     * Proxy HTTP DELETE request
     * Proxies the HTTP DELETE request to the cluster. You must specify the &#x60;X-Management-Request&#x60; HTTP header. NOTE: Use this endpoint for management purposes. It does not provide high performance.
     * @param clusterId The Kibana deployment identifier (required)
     * @param xManagementRequest When set to &#x60;true&#x60;, includes the X-Management-Request header value. (required)
     * @param kibanaPath The URL part to proxy to the Kibana cluster. Example: /api/spaces/space or /api/upgrade_assistant/status (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteKibProxyRequestsWithHttpInfo(String clusterId, String xManagementRequest, String kibanaPath) throws ApiException {
        com.squareup.okhttp.Call call = deleteKibProxyRequestsValidateBeforeCall(clusterId, xManagementRequest, kibanaPath, null, null);
        return apiClient.execute(call);
    }

    /**
     * Proxy HTTP DELETE request (asynchronously)
     * Proxies the HTTP DELETE request to the cluster. You must specify the &#x60;X-Management-Request&#x60; HTTP header. NOTE: Use this endpoint for management purposes. It does not provide high performance.
     * @param clusterId The Kibana deployment identifier (required)
     * @param xManagementRequest When set to &#x60;true&#x60;, includes the X-Management-Request header value. (required)
     * @param kibanaPath The URL part to proxy to the Kibana cluster. Example: /api/spaces/space or /api/upgrade_assistant/status (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteKibProxyRequestsAsync(String clusterId, String xManagementRequest, String kibanaPath, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteKibProxyRequestsValidateBeforeCall(clusterId, xManagementRequest, kibanaPath, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteKibanaCluster
     * @param clusterId The Kibana deployment identifier. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteKibanaClusterCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteKibanaClusterValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling deleteKibanaCluster(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteKibanaClusterCall(clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete cluster
     * Deletes the Kibana instance. Before you delete the Kibana instance, you must first successfully issue a &#x60;_shutdown&#x60; command.
     * @param clusterId The Kibana deployment identifier. (required)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse deleteKibanaCluster(String clusterId) throws ApiException {
        ApiResponse<EmptyResponse> resp = deleteKibanaClusterWithHttpInfo(clusterId);
        return resp.getData();
    }

    /**
     * Delete cluster
     * Deletes the Kibana instance. Before you delete the Kibana instance, you must first successfully issue a &#x60;_shutdown&#x60; command.
     * @param clusterId The Kibana deployment identifier. (required)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> deleteKibanaClusterWithHttpInfo(String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = deleteKibanaClusterValidateBeforeCall(clusterId, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete cluster (asynchronously)
     * Deletes the Kibana instance. Before you delete the Kibana instance, you must first successfully issue a &#x60;_shutdown&#x60; command.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteKibanaClusterAsync(String clusterId, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteKibanaClusterValidateBeforeCall(clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getKibProxyRequests
     * @param clusterId The Kibana deployment identifier (required)
     * @param kibanaPath The URL part to proxy to the Kibana cluster. Example: /api/spaces/space or /api/upgrade_assistant/status (required)
     * @param xManagementRequest When set to &#x60;true&#x60;, includes the X-Management-Request header value. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getKibProxyRequestsCall(String clusterId, String kibanaPath, String xManagementRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}/proxy/{kibana_path}"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()))
            .replaceAll("\\{" + "kibana_path" + "\\}", apiClient.escapeString(kibanaPath.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xManagementRequest != null)
        localVarHeaderParams.put("X-Management-Request", apiClient.parameterToString(xManagementRequest));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getKibProxyRequestsValidateBeforeCall(String clusterId, String kibanaPath, String xManagementRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getKibProxyRequests(Async)");
        }
        // verify the required parameter 'kibanaPath' is set
        if (kibanaPath == null) {
            throw new ApiException("Missing the required parameter 'kibanaPath' when calling getKibProxyRequests(Async)");
        }
        // verify the required parameter 'xManagementRequest' is set
        if (xManagementRequest == null) {
            throw new ApiException("Missing the required parameter 'xManagementRequest' when calling getKibProxyRequests(Async)");
        }
        
        com.squareup.okhttp.Call call = getKibProxyRequestsCall(clusterId, kibanaPath, xManagementRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Proxy HTTP GET request
     * Proxies the HTTP GET request to the cluster. You must specify the &#x60;X-Management-Request&#x60; HTTP header. NOTE: Use this endpoint for management purposes. It does not provide high performance.
     * @param clusterId The Kibana deployment identifier (required)
     * @param kibanaPath The URL part to proxy to the Kibana cluster. Example: /api/spaces/space or /api/upgrade_assistant/status (required)
     * @param xManagementRequest When set to &#x60;true&#x60;, includes the X-Management-Request header value. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getKibProxyRequests(String clusterId, String kibanaPath, String xManagementRequest) throws ApiException {
        getKibProxyRequestsWithHttpInfo(clusterId, kibanaPath, xManagementRequest);
    }

    /**
     * Proxy HTTP GET request
     * Proxies the HTTP GET request to the cluster. You must specify the &#x60;X-Management-Request&#x60; HTTP header. NOTE: Use this endpoint for management purposes. It does not provide high performance.
     * @param clusterId The Kibana deployment identifier (required)
     * @param kibanaPath The URL part to proxy to the Kibana cluster. Example: /api/spaces/space or /api/upgrade_assistant/status (required)
     * @param xManagementRequest When set to &#x60;true&#x60;, includes the X-Management-Request header value. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getKibProxyRequestsWithHttpInfo(String clusterId, String kibanaPath, String xManagementRequest) throws ApiException {
        com.squareup.okhttp.Call call = getKibProxyRequestsValidateBeforeCall(clusterId, kibanaPath, xManagementRequest, null, null);
        return apiClient.execute(call);
    }

    /**
     * Proxy HTTP GET request (asynchronously)
     * Proxies the HTTP GET request to the cluster. You must specify the &#x60;X-Management-Request&#x60; HTTP header. NOTE: Use this endpoint for management purposes. It does not provide high performance.
     * @param clusterId The Kibana deployment identifier (required)
     * @param kibanaPath The URL part to proxy to the Kibana cluster. Example: /api/spaces/space or /api/upgrade_assistant/status (required)
     * @param xManagementRequest When set to &#x60;true&#x60;, includes the X-Management-Request header value. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getKibProxyRequestsAsync(String clusterId, String kibanaPath, String xManagementRequest, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getKibProxyRequestsValidateBeforeCall(clusterId, kibanaPath, xManagementRequest, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getKibanaCluster
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterCall(String clusterId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean showSettings, Boolean convertLegacyPlans, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showMetadata != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_metadata", showMetadata));
        if (showPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plans", showPlans));
        if (showPlanLogs != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_logs", showPlanLogs));
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (showSettings != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_settings", showSettings));
        if (convertLegacyPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("convert_legacy_plans", convertLegacyPlans));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getKibanaClusterValidateBeforeCall(String clusterId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean showSettings, Boolean convertLegacyPlans, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getKibanaCluster(Async)");
        }
        
        com.squareup.okhttp.Call call = getKibanaClusterCall(clusterId, showMetadata, showPlans, showPlanLogs, showPlanDefaults, showSettings, convertLegacyPlans, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get cluster
     * Retrieves the Kibana instance information.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @return KibanaClusterInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public KibanaClusterInfo getKibanaCluster(String clusterId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean showSettings, Boolean convertLegacyPlans) throws ApiException {
        ApiResponse<KibanaClusterInfo> resp = getKibanaClusterWithHttpInfo(clusterId, showMetadata, showPlans, showPlanLogs, showPlanDefaults, showSettings, convertLegacyPlans);
        return resp.getData();
    }

    /**
     * Get cluster
     * Retrieves the Kibana instance information.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @return ApiResponse&lt;KibanaClusterInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<KibanaClusterInfo> getKibanaClusterWithHttpInfo(String clusterId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean showSettings, Boolean convertLegacyPlans) throws ApiException {
        com.squareup.okhttp.Call call = getKibanaClusterValidateBeforeCall(clusterId, showMetadata, showPlans, showPlanLogs, showPlanDefaults, showSettings, convertLegacyPlans, null, null);
        Type localVarReturnType = new TypeToken<KibanaClusterInfo>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get cluster (asynchronously)
     * Retrieves the Kibana instance information.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterAsync(String clusterId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean showSettings, Boolean convertLegacyPlans, final ApiCallback<KibanaClusterInfo> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getKibanaClusterValidateBeforeCall(clusterId, showMetadata, showPlans, showPlanLogs, showPlanDefaults, showSettings, convertLegacyPlans, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<KibanaClusterInfo>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getKibanaClusterMetadataRaw
     * @param clusterId The Kibana deployment identifier. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterMetadataRawCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}/metadata/raw"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getKibanaClusterMetadataRawValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getKibanaClusterMetadataRaw(Async)");
        }
        
        com.squareup.okhttp.Call call = getKibanaClusterMetadataRawCall(clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get cluster metadata
     * Advanced use only. Retrieves the internal metadata, in free-form JSON, for the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object getKibanaClusterMetadataRaw(String clusterId) throws ApiException {
        ApiResponse<Object> resp = getKibanaClusterMetadataRawWithHttpInfo(clusterId);
        return resp.getData();
    }

    /**
     * Get cluster metadata
     * Advanced use only. Retrieves the internal metadata, in free-form JSON, for the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> getKibanaClusterMetadataRawWithHttpInfo(String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = getKibanaClusterMetadataRawValidateBeforeCall(clusterId, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get cluster metadata (asynchronously)
     * Advanced use only. Retrieves the internal metadata, in free-form JSON, for the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterMetadataRawAsync(String clusterId, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getKibanaClusterMetadataRawValidateBeforeCall(clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getKibanaClusterMetadataSettings
     * @param clusterId The Kibana deployment identifier. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterMetadataSettingsCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}/metadata/settings"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getKibanaClusterMetadataSettingsValidateBeforeCall(String clusterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getKibanaClusterMetadataSettings(Async)");
        }
        
        com.squareup.okhttp.Call call = getKibanaClusterMetadataSettingsCall(clusterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get cluster metadata settings
     * Retrieves a structured version of the cluster metadata as a collection of top-level settings. If a particular setting isn&#x27;t returned, then the free-form JSON endpoint (&#x60;/metadata/raw&#x60;) must be used.
     * @param clusterId The Kibana deployment identifier. (required)
     * @return ClusterMetadataSettings
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ClusterMetadataSettings getKibanaClusterMetadataSettings(String clusterId) throws ApiException {
        ApiResponse<ClusterMetadataSettings> resp = getKibanaClusterMetadataSettingsWithHttpInfo(clusterId);
        return resp.getData();
    }

    /**
     * Get cluster metadata settings
     * Retrieves a structured version of the cluster metadata as a collection of top-level settings. If a particular setting isn&#x27;t returned, then the free-form JSON endpoint (&#x60;/metadata/raw&#x60;) must be used.
     * @param clusterId The Kibana deployment identifier. (required)
     * @return ApiResponse&lt;ClusterMetadataSettings&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ClusterMetadataSettings> getKibanaClusterMetadataSettingsWithHttpInfo(String clusterId) throws ApiException {
        com.squareup.okhttp.Call call = getKibanaClusterMetadataSettingsValidateBeforeCall(clusterId, null, null);
        Type localVarReturnType = new TypeToken<ClusterMetadataSettings>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get cluster metadata settings (asynchronously)
     * Retrieves a structured version of the cluster metadata as a collection of top-level settings. If a particular setting isn&#x27;t returned, then the free-form JSON endpoint (&#x60;/metadata/raw&#x60;) must be used.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterMetadataSettingsAsync(String clusterId, final ApiCallback<ClusterMetadataSettings> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getKibanaClusterMetadataSettingsValidateBeforeCall(clusterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ClusterMetadataSettings>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getKibanaClusterPendingPlan
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterPendingPlanCall(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}/plan/pending"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (convertLegacyPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("convert_legacy_plans", convertLegacyPlans));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getKibanaClusterPendingPlanValidateBeforeCall(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getKibanaClusterPendingPlan(Async)");
        }
        
        com.squareup.okhttp.Call call = getKibanaClusterPendingPlanCall(clusterId, showPlanDefaults, convertLegacyPlans, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get pending plan
     * Retrieves the pending plan of the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @return KibanaClusterPlan
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public KibanaClusterPlan getKibanaClusterPendingPlan(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans) throws ApiException {
        ApiResponse<KibanaClusterPlan> resp = getKibanaClusterPendingPlanWithHttpInfo(clusterId, showPlanDefaults, convertLegacyPlans);
        return resp.getData();
    }

    /**
     * Get pending plan
     * Retrieves the pending plan of the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @return ApiResponse&lt;KibanaClusterPlan&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<KibanaClusterPlan> getKibanaClusterPendingPlanWithHttpInfo(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans) throws ApiException {
        com.squareup.okhttp.Call call = getKibanaClusterPendingPlanValidateBeforeCall(clusterId, showPlanDefaults, convertLegacyPlans, null, null);
        Type localVarReturnType = new TypeToken<KibanaClusterPlan>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get pending plan (asynchronously)
     * Retrieves the pending plan of the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterPendingPlanAsync(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans, final ApiCallback<KibanaClusterPlan> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getKibanaClusterPendingPlanValidateBeforeCall(clusterId, showPlanDefaults, convertLegacyPlans, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<KibanaClusterPlan>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getKibanaClusterPlan
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterPlanCall(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}/plan"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (convertLegacyPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("convert_legacy_plans", convertLegacyPlans));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getKibanaClusterPlanValidateBeforeCall(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getKibanaClusterPlan(Async)");
        }
        
        com.squareup.okhttp.Call call = getKibanaClusterPlanCall(clusterId, showPlanDefaults, convertLegacyPlans, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get plan
     * Retrieves the active plan of the Kibana instance. Transient settings are not show by this endpoint. To view the transient settings that have been applied with a specific plan, use the activity endpoint.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @return KibanaClusterPlan
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public KibanaClusterPlan getKibanaClusterPlan(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans) throws ApiException {
        ApiResponse<KibanaClusterPlan> resp = getKibanaClusterPlanWithHttpInfo(clusterId, showPlanDefaults, convertLegacyPlans);
        return resp.getData();
    }

    /**
     * Get plan
     * Retrieves the active plan of the Kibana instance. Transient settings are not show by this endpoint. To view the transient settings that have been applied with a specific plan, use the activity endpoint.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @return ApiResponse&lt;KibanaClusterPlan&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<KibanaClusterPlan> getKibanaClusterPlanWithHttpInfo(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans) throws ApiException {
        com.squareup.okhttp.Call call = getKibanaClusterPlanValidateBeforeCall(clusterId, showPlanDefaults, convertLegacyPlans, null, null);
        Type localVarReturnType = new TypeToken<KibanaClusterPlan>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get plan (asynchronously)
     * Retrieves the active plan of the Kibana instance. Transient settings are not show by this endpoint. To view the transient settings that have been applied with a specific plan, use the activity endpoint.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterPlanAsync(String clusterId, Boolean showPlanDefaults, Boolean convertLegacyPlans, final ApiCallback<KibanaClusterPlan> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getKibanaClusterPlanValidateBeforeCall(clusterId, showPlanDefaults, convertLegacyPlans, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<KibanaClusterPlan>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getKibanaClusterPlanActivity
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterPlanActivityCall(String clusterId, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana/{cluster_id}/plan/activity"
            .replaceAll("\\{" + "cluster_id" + "\\}", apiClient.escapeString(clusterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showPlanLogs != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_logs", showPlanLogs));
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (convertLegacyPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("convert_legacy_plans", convertLegacyPlans));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getKibanaClusterPlanActivityValidateBeforeCall(String clusterId, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterId' is set
        if (clusterId == null) {
            throw new ApiException("Missing the required parameter 'clusterId' when calling getKibanaClusterPlanActivity(Async)");
        }
        
        com.squareup.okhttp.Call call = getKibanaClusterPlanActivityCall(clusterId, showPlanLogs, showPlanDefaults, convertLegacyPlans, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get plan activity
     * Retrieves the active and historical plan information for the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @return KibanaClusterPlansInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public KibanaClusterPlansInfo getKibanaClusterPlanActivity(String clusterId, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans) throws ApiException {
        ApiResponse<KibanaClusterPlansInfo> resp = getKibanaClusterPlanActivityWithHttpInfo(clusterId, showPlanLogs, showPlanDefaults, convertLegacyPlans);
        return resp.getData();
    }

    /**
     * Get plan activity
     * Retrieves the active and historical plan information for the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @return ApiResponse&lt;KibanaClusterPlansInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<KibanaClusterPlansInfo> getKibanaClusterPlanActivityWithHttpInfo(String clusterId, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans) throws ApiException {
        com.squareup.okhttp.Call call = getKibanaClusterPlanActivityValidateBeforeCall(clusterId, showPlanLogs, showPlanDefaults, convertLegacyPlans, null, null);
        Type localVarReturnType = new TypeToken<KibanaClusterPlansInfo>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get plan activity (asynchronously)
     * Retrieves the active and historical plan information for the Kibana instance.
     * @param clusterId The Kibana deployment identifier. (required)
     * @param showPlanLogs Includes the active, pending, and historical plan information in the attempt log. NOTE: This option can result in large responses. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param convertLegacyPlans When &#x60;true&#x60;, converts the plans to the 2.0.x format. When &#x60;false&#x60;, uses the 1.x format. The default is &#x60;false&#x60;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getKibanaClusterPlanActivityAsync(String clusterId, Boolean showPlanLogs, Boolean showPlanDefaults, Boolean convertLegacyPlans, final ApiCallback<KibanaClusterPlansInfo> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getKibanaClusterPlanActivityValidateBeforeCall(clusterId, showPlanLogs, showPlanDefaults, convertLegacyPlans, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<KibanaClusterPlansInfo>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getKibanaClusters
     * @param from The number of clusters to skip. (optional)
     * @param size The maximum number of clusters to include in the response. For all clusters, use -1. NOTE: This option can result in large responses. (optional)
     * @param q An optional query to filter Kibana clusters by. Maps to an Elasticsearch query_string query. (optional)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showHidden Includes the hidden clusters in the response. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getKibanaClustersCall(Integer from, Integer size, String q, Boolean showMetadata, Boolean showPlans, Boolean showHidden, Boolean showPlanDefaults, Boolean showSettings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/clusters/kibana";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (q != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
        if (showMetadata != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_metadata", showMetadata));
        if (showPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plans", showPlans));
        if (showHidden != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_hidden", showHidden));
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (showSettings != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_settings", showSettings));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getKibanaClustersValidateBeforeCall(Integer from, Integer size, String q, Boolean showMetadata, Boolean showPlans, Boolean showHidden, Boolean showPlanDefaults, Boolean showSettings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getKibanaClustersCall(from, size, q, showMetadata, showPlans, showHidden, showPlanDefaults, showSettings, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get clusters
     * Retrieves the information for all Kibana instances.
     * @param from The number of clusters to skip. (optional)
     * @param size The maximum number of clusters to include in the response. For all clusters, use -1. NOTE: This option can result in large responses. (optional)
     * @param q An optional query to filter Kibana clusters by. Maps to an Elasticsearch query_string query. (optional)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showHidden Includes the hidden clusters in the response. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @return KibanaClustersInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public KibanaClustersInfo getKibanaClusters(Integer from, Integer size, String q, Boolean showMetadata, Boolean showPlans, Boolean showHidden, Boolean showPlanDefaults, Boolean showSettings) throws ApiException {
        ApiResponse<KibanaClustersInfo> resp = getKibanaClustersWithHttpInfo(from, size, q, showMetadata, showPlans, showHidden, showPlanDefaults, showSettings);
        return resp.getData();
    }

    /**
     * Get clusters
     * Retrieves the information for all Kibana instances.
     * @param from The number of clusters to skip. (optional)
     * @param size The maximum number of clusters to include in the response. For all clusters, use -1. NOTE: This option can result in large responses. (optional)
     * @param q An optional query to filter Kibana clusters by. Maps to an Elasticsearch query_string query. (optional)
     * @param showMetadata Includes all of the cluster metadata in the response. NOTE: Responses can include a large amount of metadata, as well as credentials. (optional)
     * @param showPlans Includes the active and pending plan information in the response. NOTE: This option can result in large responses. (optional)
     * @param showHidden Includes the hidden clusters in the response. (optional)
     * @param showPlanDefaults When plans are shown, includes the default values in the response. NOTE: This option results in large responses. (optional)
     * @param showSettings Includes the cluster settings in the response. (optional)
     * @return ApiResponse&lt;KibanaClustersInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<KibanaClustersInfo> getKibanaClustersWithHttpInfo(Integer from, Integer size, String q, Boolean showMetadata, Boolean showPlans, Boolean showHidden, Boolean showPlanDefaults, Boolean showSettings) throws ApiException {
[...]
