/*
 * Elastic Cloud API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ApmResourceInfo;
import io.swagger.client.model.AppSearchResourceInfo;
import io.swagger.client.model.BasicFailedReply;
import io.swagger.client.model.DeploymentCreateRequest;
import io.swagger.client.model.DeploymentCreateResponse;
import io.swagger.client.model.DeploymentDeleteResponse;
import io.swagger.client.model.DeploymentGetResponse;
import io.swagger.client.model.DeploymentResourceCommandResponse;
import io.swagger.client.model.DeploymentResourceCrudResponse;
import io.swagger.client.model.DeploymentResourceUpgradeResponse;
import io.swagger.client.model.DeploymentRestoreResponse;
import io.swagger.client.model.DeploymentShutdownResponse;
import io.swagger.client.model.DeploymentUpdateRequest;
import io.swagger.client.model.DeploymentUpdateResponse;
import io.swagger.client.model.DeploymentsListResponse;
import io.swagger.client.model.DeploymentsSearchResponse;
import io.swagger.client.model.ElasticsearchResourceInfo;
import io.swagger.client.model.IndexSynchronizationResults;
import io.swagger.client.model.KibanaResourceInfo;
import io.swagger.client.model.Note;
import io.swagger.client.model.Notes;
import io.swagger.client.model.SearchRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DeploymentsApi {
    private ApiClient apiClient;

    public DeploymentsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DeploymentsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for cancelDeploymentResourcePendingPlan
     * @param deploymentId Identifier for the Deployment (required)
     * @param resourceKind The kind of resource (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param forceDelete When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are missing. The default is &#x60;false&#x60;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cancelDeploymentResourcePendingPlanCall(String deploymentId, String resourceKind, String refId, Boolean forceDelete, Boolean ignoreMissing, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment_id}/{resource_kind}/{ref_id}/plan/pending"
            .replaceAll("\\{" + "deployment_id" + "\\}", apiClient.escapeString(deploymentId.toString()))
            .replaceAll("\\{" + "resource_kind" + "\\}", apiClient.escapeString(resourceKind.toString()))
            .replaceAll("\\{" + "ref_id" + "\\}", apiClient.escapeString(refId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (forceDelete != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force_delete", forceDelete));
        if (ignoreMissing != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ignore_missing", ignoreMissing));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cancelDeploymentResourcePendingPlanValidateBeforeCall(String deploymentId, String resourceKind, String refId, Boolean forceDelete, Boolean ignoreMissing, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'deploymentId' is set
        if (deploymentId == null) {
            throw new ApiException("Missing the required parameter 'deploymentId' when calling cancelDeploymentResourcePendingPlan(Async)");
        }
        // verify the required parameter 'resourceKind' is set
        if (resourceKind == null) {
            throw new ApiException("Missing the required parameter 'resourceKind' when calling cancelDeploymentResourcePendingPlan(Async)");
        }
        // verify the required parameter 'refId' is set
        if (refId == null) {
            throw new ApiException("Missing the required parameter 'refId' when calling cancelDeploymentResourcePendingPlan(Async)");
        }
        
        com.squareup.okhttp.Call call = cancelDeploymentResourcePendingPlanCall(deploymentId, resourceKind, refId, forceDelete, ignoreMissing, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel resource pending plan
     * Cancels the pending plan of a Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param resourceKind The kind of resource (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param forceDelete When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are missing. The default is &#x60;false&#x60;. (optional)
     * @return DeploymentResourceCrudResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeploymentResourceCrudResponse cancelDeploymentResourcePendingPlan(String deploymentId, String resourceKind, String refId, Boolean forceDelete, Boolean ignoreMissing) throws ApiException {
        ApiResponse<DeploymentResourceCrudResponse> resp = cancelDeploymentResourcePendingPlanWithHttpInfo(deploymentId, resourceKind, refId, forceDelete, ignoreMissing);
        return resp.getData();
    }

    /**
     * Cancel resource pending plan
     * Cancels the pending plan of a Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param resourceKind The kind of resource (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param forceDelete When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are missing. The default is &#x60;false&#x60;. (optional)
     * @return ApiResponse&lt;DeploymentResourceCrudResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeploymentResourceCrudResponse> cancelDeploymentResourcePendingPlanWithHttpInfo(String deploymentId, String resourceKind, String refId, Boolean forceDelete, Boolean ignoreMissing) throws ApiException {
        com.squareup.okhttp.Call call = cancelDeploymentResourcePendingPlanValidateBeforeCall(deploymentId, resourceKind, refId, forceDelete, ignoreMissing, null, null);
        Type localVarReturnType = new TypeToken<DeploymentResourceCrudResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel resource pending plan (asynchronously)
     * Cancels the pending plan of a Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param resourceKind The kind of resource (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param forceDelete When &#x60;true&#x60;, deletes the pending plan instead of attempting a graceful cancellation. The default is &#x60;false&#x60;. (optional)
     * @param ignoreMissing When &#x60;true&#x60;, returns successfully, even when plans are missing. The default is &#x60;false&#x60;. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cancelDeploymentResourcePendingPlanAsync(String deploymentId, String resourceKind, String refId, Boolean forceDelete, Boolean ignoreMissing, final ApiCallback<DeploymentResourceCrudResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cancelDeploymentResourcePendingPlanValidateBeforeCall(deploymentId, resourceKind, refId, forceDelete, ignoreMissing, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeploymentResourceCrudResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createDeployment
     * @param body The deployment definition (required)
     * @param requestId An optional idempotency token - if two create requests share the same request_id token (min size 32 characters, max 128) then only one deployment will be created, the second request will return the info of that deployment (in the same format described below, but with blanks for auth-related fields) (optional)
     * @param validateOnly If true, will just validate the Deployment definition but will not perform the creation (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createDeploymentCall(DeploymentCreateRequest body, String requestId, Boolean validateOnly, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/deployments";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (requestId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("request_id", requestId));
        if (validateOnly != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("validate_only", validateOnly));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "*/*"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createDeploymentValidateBeforeCall(DeploymentCreateRequest body, String requestId, Boolean validateOnly, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createDeployment(Async)");
        }
        
        com.squareup.okhttp.Call call = createDeploymentCall(body, requestId, validateOnly, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create Deployment
     * Creates a Deployment.
     * @param body The deployment definition (required)
     * @param requestId An optional idempotency token - if two create requests share the same request_id token (min size 32 characters, max 128) then only one deployment will be created, the second request will return the info of that deployment (in the same format described below, but with blanks for auth-related fields) (optional)
     * @param validateOnly If true, will just validate the Deployment definition but will not perform the creation (optional)
     * @return DeploymentCreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeploymentCreateResponse createDeployment(DeploymentCreateRequest body, String requestId, Boolean validateOnly) throws ApiException {
        ApiResponse<DeploymentCreateResponse> resp = createDeploymentWithHttpInfo(body, requestId, validateOnly);
        return resp.getData();
    }

    /**
     * Create Deployment
     * Creates a Deployment.
     * @param body The deployment definition (required)
     * @param requestId An optional idempotency token - if two create requests share the same request_id token (min size 32 characters, max 128) then only one deployment will be created, the second request will return the info of that deployment (in the same format described below, but with blanks for auth-related fields) (optional)
     * @param validateOnly If true, will just validate the Deployment definition but will not perform the creation (optional)
     * @return ApiResponse&lt;DeploymentCreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeploymentCreateResponse> createDeploymentWithHttpInfo(DeploymentCreateRequest body, String requestId, Boolean validateOnly) throws ApiException {
        com.squareup.okhttp.Call call = createDeploymentValidateBeforeCall(body, requestId, validateOnly, null, null);
        Type localVarReturnType = new TypeToken<DeploymentCreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Deployment (asynchronously)
     * Creates a Deployment.
     * @param body The deployment definition (required)
     * @param requestId An optional idempotency token - if two create requests share the same request_id token (min size 32 characters, max 128) then only one deployment will be created, the second request will return the info of that deployment (in the same format described below, but with blanks for auth-related fields) (optional)
     * @param validateOnly If true, will just validate the Deployment definition but will not perform the creation (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createDeploymentAsync(DeploymentCreateRequest body, String requestId, Boolean validateOnly, final ApiCallback<DeploymentCreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createDeploymentValidateBeforeCall(body, requestId, validateOnly, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeploymentCreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createDeploymentNote
     * @param body New deployment note (required)
     * @param deploymentId Identifier for the deployment (required)
     * @param version If specified then checks for conflicts against the version of the deployment note (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createDeploymentNoteCall(Note body, String deploymentId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment_id}/notes"
            .replaceAll("\\{" + "deployment_id" + "\\}", apiClient.escapeString(deploymentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "*/*"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createDeploymentNoteValidateBeforeCall(Note body, String deploymentId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createDeploymentNote(Async)");
        }
        // verify the required parameter 'deploymentId' is set
        if (deploymentId == null) {
            throw new ApiException("Missing the required parameter 'deploymentId' when calling createDeploymentNote(Async)");
        }
        
        com.squareup.okhttp.Call call = createDeploymentNoteCall(body, deploymentId, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create deployment note
     * Create note for the running deployment.
     * @param body New deployment note (required)
     * @param deploymentId Identifier for the deployment (required)
     * @param version If specified then checks for conflicts against the version of the deployment note (optional)
     * @return Notes
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Notes createDeploymentNote(Note body, String deploymentId, Integer version) throws ApiException {
        ApiResponse<Notes> resp = createDeploymentNoteWithHttpInfo(body, deploymentId, version);
        return resp.getData();
    }

    /**
     * Create deployment note
     * Create note for the running deployment.
     * @param body New deployment note (required)
     * @param deploymentId Identifier for the deployment (required)
     * @param version If specified then checks for conflicts against the version of the deployment note (optional)
     * @return ApiResponse&lt;Notes&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Notes> createDeploymentNoteWithHttpInfo(Note body, String deploymentId, Integer version) throws ApiException {
        com.squareup.okhttp.Call call = createDeploymentNoteValidateBeforeCall(body, deploymentId, version, null, null);
        Type localVarReturnType = new TypeToken<Notes>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create deployment note (asynchronously)
     * Create note for the running deployment.
     * @param body New deployment note (required)
     * @param deploymentId Identifier for the deployment (required)
     * @param version If specified then checks for conflicts against the version of the deployment note (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createDeploymentNoteAsync(Note body, String deploymentId, Integer version, final ApiCallback<Notes> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createDeploymentNoteValidateBeforeCall(body, deploymentId, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Notes>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteDeployment
     * @param deploymentId Identifier for the Deployment (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteDeploymentCall(String deploymentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment_id}"
            .replaceAll("\\{" + "deployment_id" + "\\}", apiClient.escapeString(deploymentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDeploymentValidateBeforeCall(String deploymentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'deploymentId' is set
        if (deploymentId == null) {
            throw new ApiException("Missing the required parameter 'deploymentId' when calling deleteDeployment(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteDeploymentCall(deploymentId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete Deployment
     * Deletes a Deployment and all its resources.
     * @param deploymentId Identifier for the Deployment (required)
     * @return DeploymentDeleteResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeploymentDeleteResponse deleteDeployment(String deploymentId) throws ApiException {
        ApiResponse<DeploymentDeleteResponse> resp = deleteDeploymentWithHttpInfo(deploymentId);
        return resp.getData();
    }

    /**
     * Delete Deployment
     * Deletes a Deployment and all its resources.
     * @param deploymentId Identifier for the Deployment (required)
     * @return ApiResponse&lt;DeploymentDeleteResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeploymentDeleteResponse> deleteDeploymentWithHttpInfo(String deploymentId) throws ApiException {
        com.squareup.okhttp.Call call = deleteDeploymentValidateBeforeCall(deploymentId, null, null);
        Type localVarReturnType = new TypeToken<DeploymentDeleteResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete Deployment (asynchronously)
     * Deletes a Deployment and all its resources.
     * @param deploymentId Identifier for the Deployment (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteDeploymentAsync(String deploymentId, final ApiCallback<DeploymentDeleteResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDeploymentValidateBeforeCall(deploymentId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeploymentDeleteResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteDeploymentNote
     * @param deploymentId Identifier for the deployment (required)
     * @param noteId Identifier of the note to be deleted (required)
     * @param version If specified then checks for conflicts against the version of the deployment note (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteDeploymentNoteCall(String deploymentId, String noteId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment_id}/notes/{note_id}"
            .replaceAll("\\{" + "deployment_id" + "\\}", apiClient.escapeString(deploymentId.toString()))
            .replaceAll("\\{" + "note_id" + "\\}", apiClient.escapeString(noteId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDeploymentNoteValidateBeforeCall(String deploymentId, String noteId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'deploymentId' is set
        if (deploymentId == null) {
            throw new ApiException("Missing the required parameter 'deploymentId' when calling deleteDeploymentNote(Async)");
        }
        // verify the required parameter 'noteId' is set
        if (noteId == null) {
            throw new ApiException("Missing the required parameter 'noteId' when calling deleteDeploymentNote(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteDeploymentNoteCall(deploymentId, noteId, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete deployment note
     * Delete note for the running deployment.
     * @param deploymentId Identifier for the deployment (required)
     * @param noteId Identifier of the note to be deleted (required)
     * @param version If specified then checks for conflicts against the version of the deployment note (optional)
     * @return Notes
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Notes deleteDeploymentNote(String deploymentId, String noteId, Integer version) throws ApiException {
        ApiResponse<Notes> resp = deleteDeploymentNoteWithHttpInfo(deploymentId, noteId, version);
        return resp.getData();
    }

    /**
     * Delete deployment note
     * Delete note for the running deployment.
     * @param deploymentId Identifier for the deployment (required)
     * @param noteId Identifier of the note to be deleted (required)
     * @param version If specified then checks for conflicts against the version of the deployment note (optional)
     * @return ApiResponse&lt;Notes&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Notes> deleteDeploymentNoteWithHttpInfo(String deploymentId, String noteId, Integer version) throws ApiException {
        com.squareup.okhttp.Call call = deleteDeploymentNoteValidateBeforeCall(deploymentId, noteId, version, null, null);
        Type localVarReturnType = new TypeToken<Notes>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete deployment note (asynchronously)
     * Delete note for the running deployment.
     * @param deploymentId Identifier for the deployment (required)
     * @param noteId Identifier of the note to be deleted (required)
     * @param version If specified then checks for conflicts against the version of the deployment note (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteDeploymentNoteAsync(String deploymentId, String noteId, Integer version, final ApiCallback<Notes> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDeploymentNoteValidateBeforeCall(deploymentId, noteId, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Notes>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteDeploymentStatelessResource
     * @param deploymentId Identifier for the Deployment (required)
     * @param statelessResourceKind The kind of stateless resource (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteDeploymentStatelessResourceCall(String deploymentId, String statelessResourceKind, String refId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment_id}/{stateless_resource_kind}/{ref_id}"
            .replaceAll("\\{" + "deployment_id" + "\\}", apiClient.escapeString(deploymentId.toString()))
            .replaceAll("\\{" + "stateless_resource_kind" + "\\}", apiClient.escapeString(statelessResourceKind.toString()))
            .replaceAll("\\{" + "ref_id" + "\\}", apiClient.escapeString(refId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDeploymentStatelessResourceValidateBeforeCall(String deploymentId, String statelessResourceKind, String refId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'deploymentId' is set
        if (deploymentId == null) {
            throw new ApiException("Missing the required parameter 'deploymentId' when calling deleteDeploymentStatelessResource(Async)");
        }
        // verify the required parameter 'statelessResourceKind' is set
        if (statelessResourceKind == null) {
            throw new ApiException("Missing the required parameter 'statelessResourceKind' when calling deleteDeploymentStatelessResource(Async)");
        }
        // verify the required parameter 'refId' is set
        if (refId == null) {
            throw new ApiException("Missing the required parameter 'refId' when calling deleteDeploymentStatelessResource(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteDeploymentStatelessResourceCall(deploymentId, statelessResourceKind, refId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete Stateless Resource from Deployment
     * Delete Stateless Resource belonging to a given Deployment. Deployment must be shutdown already.
     * @param deploymentId Identifier for the Deployment (required)
     * @param statelessResourceKind The kind of stateless resource (required)
     * @param refId User-specified RefId for the Resource (required)
     * @return DeploymentResourceCrudResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeploymentResourceCrudResponse deleteDeploymentStatelessResource(String deploymentId, String statelessResourceKind, String refId) throws ApiException {
        ApiResponse<DeploymentResourceCrudResponse> resp = deleteDeploymentStatelessResourceWithHttpInfo(deploymentId, statelessResourceKind, refId);
        return resp.getData();
    }

    /**
     * Delete Stateless Resource from Deployment
     * Delete Stateless Resource belonging to a given Deployment. Deployment must be shutdown already.
     * @param deploymentId Identifier for the Deployment (required)
     * @param statelessResourceKind The kind of stateless resource (required)
     * @param refId User-specified RefId for the Resource (required)
     * @return ApiResponse&lt;DeploymentResourceCrudResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeploymentResourceCrudResponse> deleteDeploymentStatelessResourceWithHttpInfo(String deploymentId, String statelessResourceKind, String refId) throws ApiException {
        com.squareup.okhttp.Call call = deleteDeploymentStatelessResourceValidateBeforeCall(deploymentId, statelessResourceKind, refId, null, null);
        Type localVarReturnType = new TypeToken<DeploymentResourceCrudResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete Stateless Resource from Deployment (asynchronously)
     * Delete Stateless Resource belonging to a given Deployment. Deployment must be shutdown already.
     * @param deploymentId Identifier for the Deployment (required)
     * @param statelessResourceKind The kind of stateless resource (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteDeploymentStatelessResourceAsync(String deploymentId, String statelessResourceKind, String refId, final ApiCallback<DeploymentResourceCrudResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDeploymentStatelessResourceValidateBeforeCall(deploymentId, statelessResourceKind, refId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeploymentResourceCrudResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getDeployment
     * @param deploymentId Identifier for the Deployment (required)
     * @param showSecurity Whether to include the Elasticsearch 2.x security information in the response - can be large per cluster and also include credentials (optional)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param convertLegacyPlans If showing plans, whether to leave pre-2.0.0 plans in their legacy format (the default), or whether to update them to 2.0.x+ format (if &#x27;true&#x27;) (optional)
     * @param showSystemAlerts Number of system alerts (such as forced restarts due to memory limits) to be included in the response - can be large per cluster. Negative numbers or 0 will not return field. (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param enrichWithTemplate If showing plans, whether to enrich the plan by including the missing elements from the deployment template it is based on (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDeploymentCall(String deploymentId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment_id}"
            .replaceAll("\\{" + "deployment_id" + "\\}", apiClient.escapeString(deploymentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showSecurity != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_security", showSecurity));
        if (showMetadata != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_metadata", showMetadata));
        if (showPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plans", showPlans));
        if (showPlanLogs != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_logs", showPlanLogs));
        if (showPlanHistory != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_history", showPlanHistory));
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (convertLegacyPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("convert_legacy_plans", convertLegacyPlans));
        if (showSystemAlerts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_system_alerts", showSystemAlerts));
        if (showSettings != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_settings", showSettings));
        if (enrichWithTemplate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("enrich_with_template", enrichWithTemplate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDeploymentValidateBeforeCall(String deploymentId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'deploymentId' is set
        if (deploymentId == null) {
            throw new ApiException("Missing the required parameter 'deploymentId' when calling getDeployment(Async)");
        }
        
        com.squareup.okhttp.Call call = getDeploymentCall(deploymentId, showSecurity, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, convertLegacyPlans, showSystemAlerts, showSettings, enrichWithTemplate, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Deployment
     * Retrieves information about a Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param showSecurity Whether to include the Elasticsearch 2.x security information in the response - can be large per cluster and also include credentials (optional)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param convertLegacyPlans If showing plans, whether to leave pre-2.0.0 plans in their legacy format (the default), or whether to update them to 2.0.x+ format (if &#x27;true&#x27;) (optional)
     * @param showSystemAlerts Number of system alerts (such as forced restarts due to memory limits) to be included in the response - can be large per cluster. Negative numbers or 0 will not return field. (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param enrichWithTemplate If showing plans, whether to enrich the plan by including the missing elements from the deployment template it is based on (optional)
     * @return DeploymentGetResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeploymentGetResponse getDeployment(String deploymentId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate) throws ApiException {
        ApiResponse<DeploymentGetResponse> resp = getDeploymentWithHttpInfo(deploymentId, showSecurity, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, convertLegacyPlans, showSystemAlerts, showSettings, enrichWithTemplate);
        return resp.getData();
    }

    /**
     * Get Deployment
     * Retrieves information about a Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param showSecurity Whether to include the Elasticsearch 2.x security information in the response - can be large per cluster and also include credentials (optional)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param convertLegacyPlans If showing plans, whether to leave pre-2.0.0 plans in their legacy format (the default), or whether to update them to 2.0.x+ format (if &#x27;true&#x27;) (optional)
     * @param showSystemAlerts Number of system alerts (such as forced restarts due to memory limits) to be included in the response - can be large per cluster. Negative numbers or 0 will not return field. (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param enrichWithTemplate If showing plans, whether to enrich the plan by including the missing elements from the deployment template it is based on (optional)
     * @return ApiResponse&lt;DeploymentGetResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeploymentGetResponse> getDeploymentWithHttpInfo(String deploymentId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate) throws ApiException {
        com.squareup.okhttp.Call call = getDeploymentValidateBeforeCall(deploymentId, showSecurity, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, convertLegacyPlans, showSystemAlerts, showSettings, enrichWithTemplate, null, null);
        Type localVarReturnType = new TypeToken<DeploymentGetResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Deployment (asynchronously)
     * Retrieves information about a Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param showSecurity Whether to include the Elasticsearch 2.x security information in the response - can be large per cluster and also include credentials (optional)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param convertLegacyPlans If showing plans, whether to leave pre-2.0.0 plans in their legacy format (the default), or whether to update them to 2.0.x+ format (if &#x27;true&#x27;) (optional)
     * @param showSystemAlerts Number of system alerts (such as forced restarts due to memory limits) to be included in the response - can be large per cluster. Negative numbers or 0 will not return field. (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param enrichWithTemplate If showing plans, whether to enrich the plan by including the missing elements from the deployment template it is based on (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDeploymentAsync(String deploymentId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate, final ApiCallback<DeploymentGetResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDeploymentValidateBeforeCall(deploymentId, showSecurity, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, convertLegacyPlans, showSystemAlerts, showSettings, enrichWithTemplate, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeploymentGetResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getDeploymentApmResourceInfo
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDeploymentApmResourceInfoCall(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment_id}/apm/{ref_id}"
            .replaceAll("\\{" + "deployment_id" + "\\}", apiClient.escapeString(deploymentId.toString()))
            .replaceAll("\\{" + "ref_id" + "\\}", apiClient.escapeString(refId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showMetadata != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_metadata", showMetadata));
        if (showPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plans", showPlans));
        if (showPlanLogs != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_logs", showPlanLogs));
        if (showPlanHistory != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_history", showPlanHistory));
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (showSettings != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_settings", showSettings));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDeploymentApmResourceInfoValidateBeforeCall(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'deploymentId' is set
        if (deploymentId == null) {
            throw new ApiException("Missing the required parameter 'deploymentId' when calling getDeploymentApmResourceInfo(Async)");
        }
        // verify the required parameter 'refId' is set
        if (refId == null) {
            throw new ApiException("Missing the required parameter 'refId' when calling getDeploymentApmResourceInfo(Async)");
        }
        
        com.squareup.okhttp.Call call = getDeploymentApmResourceInfoCall(deploymentId, refId, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, showSettings, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Deployment APM Resource Info
     * Get info about an APM Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @return ApmResourceInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApmResourceInfo getDeploymentApmResourceInfo(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings) throws ApiException {
        ApiResponse<ApmResourceInfo> resp = getDeploymentApmResourceInfoWithHttpInfo(deploymentId, refId, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, showSettings);
        return resp.getData();
    }

    /**
     * Get Deployment APM Resource Info
     * Get info about an APM Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @return ApiResponse&lt;ApmResourceInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ApmResourceInfo> getDeploymentApmResourceInfoWithHttpInfo(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings) throws ApiException {
        com.squareup.okhttp.Call call = getDeploymentApmResourceInfoValidateBeforeCall(deploymentId, refId, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, showSettings, null, null);
        Type localVarReturnType = new TypeToken<ApmResourceInfo>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Deployment APM Resource Info (asynchronously)
     * Get info about an APM Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDeploymentApmResourceInfoAsync(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings, final ApiCallback<ApmResourceInfo> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDeploymentApmResourceInfoValidateBeforeCall(deploymentId, refId, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, showSettings, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ApmResourceInfo>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getDeploymentAppsearchResourceInfo
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDeploymentAppsearchResourceInfoCall(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment_id}/appsearch/{ref_id}"
            .replaceAll("\\{" + "deployment_id" + "\\}", apiClient.escapeString(deploymentId.toString()))
            .replaceAll("\\{" + "ref_id" + "\\}", apiClient.escapeString(refId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showMetadata != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_metadata", showMetadata));
        if (showPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plans", showPlans));
        if (showPlanLogs != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_logs", showPlanLogs));
        if (showPlanHistory != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_history", showPlanHistory));
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (showSettings != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_settings", showSettings));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDeploymentAppsearchResourceInfoValidateBeforeCall(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'deploymentId' is set
        if (deploymentId == null) {
            throw new ApiException("Missing the required parameter 'deploymentId' when calling getDeploymentAppsearchResourceInfo(Async)");
        }
        // verify the required parameter 'refId' is set
        if (refId == null) {
            throw new ApiException("Missing the required parameter 'refId' when calling getDeploymentAppsearchResourceInfo(Async)");
        }
        
        com.squareup.okhttp.Call call = getDeploymentAppsearchResourceInfoCall(deploymentId, refId, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, showSettings, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Deployment App Search Resource Info
     * Get info about an App Search Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @return AppSearchResourceInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AppSearchResourceInfo getDeploymentAppsearchResourceInfo(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings) throws ApiException {
        ApiResponse<AppSearchResourceInfo> resp = getDeploymentAppsearchResourceInfoWithHttpInfo(deploymentId, refId, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, showSettings);
        return resp.getData();
    }

    /**
     * Get Deployment App Search Resource Info
     * Get info about an App Search Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @return ApiResponse&lt;AppSearchResourceInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AppSearchResourceInfo> getDeploymentAppsearchResourceInfoWithHttpInfo(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings) throws ApiException {
        com.squareup.okhttp.Call call = getDeploymentAppsearchResourceInfoValidateBeforeCall(deploymentId, refId, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, showSettings, null, null);
        Type localVarReturnType = new TypeToken<AppSearchResourceInfo>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Deployment App Search Resource Info (asynchronously)
     * Get info about an App Search Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDeploymentAppsearchResourceInfoAsync(String deploymentId, String refId, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean showSettings, final ApiCallback<AppSearchResourceInfo> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDeploymentAppsearchResourceInfoValidateBeforeCall(deploymentId, refId, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, showSettings, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AppSearchResourceInfo>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getDeploymentEsResourceInfo
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showSecurity Whether to include the Elasticsearch 2.x security information in the response - can be large per cluster and also include credentials (optional)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param convertLegacyPlans If showing plans, whether to leave pre-2.0.0 plans in their legacy format (the default), or whether to update them to 2.0.x+ format (if &#x27;true&#x27;) (optional)
     * @param showSystemAlerts Number of system alerts (such as forced restarts due to memory limits) to be included in the response - can be large per cluster. Negative numbers or 0 will not return field. (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param enrichWithTemplate If showing plans, whether to enrich the plan by including the missing elements from the deployment template it is based on (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDeploymentEsResourceInfoCall(String deploymentId, String refId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment_id}/elasticsearch/{ref_id}"
            .replaceAll("\\{" + "deployment_id" + "\\}", apiClient.escapeString(deploymentId.toString()))
            .replaceAll("\\{" + "ref_id" + "\\}", apiClient.escapeString(refId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (showSecurity != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_security", showSecurity));
        if (showMetadata != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_metadata", showMetadata));
        if (showPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plans", showPlans));
        if (showPlanLogs != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_logs", showPlanLogs));
        if (showPlanHistory != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_history", showPlanHistory));
        if (showPlanDefaults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_plan_defaults", showPlanDefaults));
        if (convertLegacyPlans != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("convert_legacy_plans", convertLegacyPlans));
        if (showSystemAlerts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_system_alerts", showSystemAlerts));
        if (showSettings != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("show_settings", showSettings));
        if (enrichWithTemplate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("enrich_with_template", enrichWithTemplate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDeploymentEsResourceInfoValidateBeforeCall(String deploymentId, String refId, Boolean showSecurity, Boolean showMetadata, Boolean showPlans, Boolean showPlanLogs, Boolean showPlanHistory, Boolean showPlanDefaults, Boolean convertLegacyPlans, Integer showSystemAlerts, Boolean showSettings, Boolean enrichWithTemplate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'deploymentId' is set
        if (deploymentId == null) {
            throw new ApiException("Missing the required parameter 'deploymentId' when calling getDeploymentEsResourceInfo(Async)");
        }
        // verify the required parameter 'refId' is set
        if (refId == null) {
            throw new ApiException("Missing the required parameter 'refId' when calling getDeploymentEsResourceInfo(Async)");
        }
        
        com.squareup.okhttp.Call call = getDeploymentEsResourceInfoCall(deploymentId, refId, showSecurity, showMetadata, showPlans, showPlanLogs, showPlanHistory, showPlanDefaults, convertLegacyPlans, showSystemAlerts, showSettings, enrichWithTemplate, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Deployment Elasticsearch Resource Info
     * Get info about an Elasticsearch Resource belonging to a given Deployment.
     * @param deploymentId Identifier for the Deployment (required)
     * @param refId User-specified RefId for the Resource (required)
     * @param showSecurity Whether to include the Elasticsearch 2.x security information in the response - can be large per cluster and also include credentials (optional)
     * @param showMetadata Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials (optional)
     * @param showPlans Whether to include the full current and pending plan information in the response - can be large per cluster (optional)
     * @param showPlanLogs Whether to include with the current and pending plan information the attempt log - can be very large per cluster (optional)
     * @param showPlanHistory Whether to include with the current and pending plan information the plan history- can be very large per cluster (optional)
     * @param showPlanDefaults If showing plans, whether to show values that are left at their default value (less readable but more informative) (optional)
     * @param convertLegacyPlans If showing plans, whether to leave pre-2.0.0 plans in their legacy format (the default), or whether to update them to 2.0.x+ format (if &#x27;true&#x27;) (optional)
     * @param showSystemAlerts Number of system alerts (such as forced restarts due to memory limits) to be included in the response - can be large per cluster. Negative numbers or 0 will not return field. (optional)
     * @param showSettings Whether to show cluster settings in the response. (optional)
     * @param enrichWithTemplate If showing plans, whether to enrich the plan by including the missing elements from the deployment template it is based on (optional)
     * @return ElasticsearchResourceInfo
[...]
