/*
 * Elastic Cloud API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.AllocatorInfo;
import io.swagger.client.model.AllocatorOverview;
import io.swagger.client.model.AllocatorSettings;
import io.swagger.client.model.BasicFailedReply;
import io.swagger.client.model.Blessing;
import io.swagger.client.model.Blessings;
import io.swagger.client.model.ConfigStoreOption;
import io.swagger.client.model.ConfigStoreOptionData;
import io.swagger.client.model.ConfigStoreOptionList;
import io.swagger.client.model.ConstructorInfo;
import io.swagger.client.model.ConstructorOverview;
import io.swagger.client.model.EmptyResponse;
import io.swagger.client.model.LicenseObject;
import io.swagger.client.model.MetadataItem;
import io.swagger.client.model.MetadataItemValue;
import io.swagger.client.model.MetadataItems;
import io.swagger.client.model.ModelVersionIndexSynchronizationResults;
import io.swagger.client.model.MoveClustersCommandResponse;
import io.swagger.client.model.MoveClustersRequest;
import io.swagger.client.model.ProxiesFilteredGroup;
import io.swagger.client.model.ProxiesFilteredGroupHealth;
import io.swagger.client.model.ProxiesHealth;
import io.swagger.client.model.ProxiesSettings;
import io.swagger.client.model.ProxyInfo;
import io.swagger.client.model.ProxyOverview;
import io.swagger.client.model.Role;
import io.swagger.client.model.RoleAggregate;
import io.swagger.client.model.RoleAggregateCreateData;
import io.swagger.client.model.RoleAggregates;
import io.swagger.client.model.RunnerInfo;
import io.swagger.client.model.RunnerOverview;
import io.swagger.client.model.RunnerRolesInfo;
import io.swagger.client.model.SearchRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PlatformInfrastructureApi {
    private ApiClient apiClient;

    public PlatformInfrastructureApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PlatformInfrastructureApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for addBlueprinterBlessing
     * @param body The blessing to add. (required)
     * @param blueprinterRoleId User-specified Blueprinter role ID. (required)
     * @param runnerId Runner ID for a blessing associated with a role. (required)
     * @param version When specified, checks for conflicts against the version stored in the persistent store (returned in &#x27;x-cloud-resource-version&#x27; of the GET request) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addBlueprinterBlessingCall(Blessing body, String blueprinterRoleId, String runnerId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/blueprinter/roles/{blueprinter_role_id}/blessings/{runner_id}"
            .replaceAll("\\{" + "blueprinter_role_id" + "\\}", apiClient.escapeString(blueprinterRoleId.toString()))
            .replaceAll("\\{" + "runner_id" + "\\}", apiClient.escapeString(runnerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "*/*"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addBlueprinterBlessingValidateBeforeCall(Blessing body, String blueprinterRoleId, String runnerId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addBlueprinterBlessing(Async)");
        }
        // verify the required parameter 'blueprinterRoleId' is set
        if (blueprinterRoleId == null) {
            throw new ApiException("Missing the required parameter 'blueprinterRoleId' when calling addBlueprinterBlessing(Async)");
        }
        // verify the required parameter 'runnerId' is set
        if (runnerId == null) {
            throw new ApiException("Missing the required parameter 'runnerId' when calling addBlueprinterBlessing(Async)");
        }
        
        com.squareup.okhttp.Call call = addBlueprinterBlessingCall(body, blueprinterRoleId, runnerId, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add Blessing
     * Add a Blessing for a runner to a role.
     * @param body The blessing to add. (required)
     * @param blueprinterRoleId User-specified Blueprinter role ID. (required)
     * @param runnerId Runner ID for a blessing associated with a role. (required)
     * @param version When specified, checks for conflicts against the version stored in the persistent store (returned in &#x27;x-cloud-resource-version&#x27; of the GET request) (optional)
     * @return RoleAggregate
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RoleAggregate addBlueprinterBlessing(Blessing body, String blueprinterRoleId, String runnerId, Integer version) throws ApiException {
        ApiResponse<RoleAggregate> resp = addBlueprinterBlessingWithHttpInfo(body, blueprinterRoleId, runnerId, version);
        return resp.getData();
    }

    /**
     * Add Blessing
     * Add a Blessing for a runner to a role.
     * @param body The blessing to add. (required)
     * @param blueprinterRoleId User-specified Blueprinter role ID. (required)
     * @param runnerId Runner ID for a blessing associated with a role. (required)
     * @param version When specified, checks for conflicts against the version stored in the persistent store (returned in &#x27;x-cloud-resource-version&#x27; of the GET request) (optional)
     * @return ApiResponse&lt;RoleAggregate&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RoleAggregate> addBlueprinterBlessingWithHttpInfo(Blessing body, String blueprinterRoleId, String runnerId, Integer version) throws ApiException {
        com.squareup.okhttp.Call call = addBlueprinterBlessingValidateBeforeCall(body, blueprinterRoleId, runnerId, version, null, null);
        Type localVarReturnType = new TypeToken<RoleAggregate>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add Blessing (asynchronously)
     * Add a Blessing for a runner to a role.
     * @param body The blessing to add. (required)
     * @param blueprinterRoleId User-specified Blueprinter role ID. (required)
     * @param runnerId Runner ID for a blessing associated with a role. (required)
     * @param version When specified, checks for conflicts against the version stored in the persistent store (returned in &#x27;x-cloud-resource-version&#x27; of the GET request) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addBlueprinterBlessingAsync(Blessing body, String blueprinterRoleId, String runnerId, Integer version, final ApiCallback<RoleAggregate> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addBlueprinterBlessingValidateBeforeCall(body, blueprinterRoleId, runnerId, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RoleAggregate>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createBlueprinterRole
     * @param body The data you want to use for creating a role. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createBlueprinterRoleCall(RoleAggregateCreateData body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/blueprinter/roles";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "*/*"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createBlueprinterRoleValidateBeforeCall(RoleAggregateCreateData body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createBlueprinterRole(Async)");
        }
        
        com.squareup.okhttp.Call call = createBlueprinterRoleCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create a role
     * Create a Blueprinter role.
     * @param body The data you want to use for creating a role. (required)
     * @return RoleAggregate
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RoleAggregate createBlueprinterRole(RoleAggregateCreateData body) throws ApiException {
        ApiResponse<RoleAggregate> resp = createBlueprinterRoleWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create a role
     * Create a Blueprinter role.
     * @param body The data you want to use for creating a role. (required)
     * @return ApiResponse&lt;RoleAggregate&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RoleAggregate> createBlueprinterRoleWithHttpInfo(RoleAggregateCreateData body) throws ApiException {
        com.squareup.okhttp.Call call = createBlueprinterRoleValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<RoleAggregate>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a role (asynchronously)
     * Create a Blueprinter role.
     * @param body The data you want to use for creating a role. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createBlueprinterRoleAsync(RoleAggregateCreateData body, final ApiCallback<RoleAggregate> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createBlueprinterRoleValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RoleAggregate>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createConfigStoreOption
     * @param body The Config Store Option definition (required)
     * @param configOptionId Name of the Config Store Option that you would like to create (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createConfigStoreOptionCall(ConfigStoreOptionData body, String configOptionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/platform/configuration/store/{config_option_id}"
            .replaceAll("\\{" + "config_option_id" + "\\}", apiClient.escapeString(configOptionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "*/*"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createConfigStoreOptionValidateBeforeCall(ConfigStoreOptionData body, String configOptionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createConfigStoreOption(Async)");
        }
        // verify the required parameter 'configOptionId' is set
        if (configOptionId == null) {
            throw new ApiException("Missing the required parameter 'configOptionId' when calling createConfigStoreOption(Async)");
        }
        
        com.squareup.okhttp.Call call = createConfigStoreOptionCall(body, configOptionId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create Config Store Option
     * Inserts new Config Store Option.
     * @param body The Config Store Option definition (required)
     * @param configOptionId Name of the Config Store Option that you would like to create (required)
     * @return ConfigStoreOption
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ConfigStoreOption createConfigStoreOption(ConfigStoreOptionData body, String configOptionId) throws ApiException {
        ApiResponse<ConfigStoreOption> resp = createConfigStoreOptionWithHttpInfo(body, configOptionId);
        return resp.getData();
    }

    /**
     * Create Config Store Option
     * Inserts new Config Store Option.
     * @param body The Config Store Option definition (required)
     * @param configOptionId Name of the Config Store Option that you would like to create (required)
     * @return ApiResponse&lt;ConfigStoreOption&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ConfigStoreOption> createConfigStoreOptionWithHttpInfo(ConfigStoreOptionData body, String configOptionId) throws ApiException {
        com.squareup.okhttp.Call call = createConfigStoreOptionValidateBeforeCall(body, configOptionId, null, null);
        Type localVarReturnType = new TypeToken<ConfigStoreOption>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Config Store Option (asynchronously)
     * Inserts new Config Store Option.
     * @param body The Config Store Option definition (required)
     * @param configOptionId Name of the Config Store Option that you would like to create (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createConfigStoreOptionAsync(ConfigStoreOptionData body, String configOptionId, final ApiCallback<ConfigStoreOption> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createConfigStoreOptionValidateBeforeCall(body, configOptionId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ConfigStoreOption>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createProxiesFilteredGroup
     * @param body Data for the filtered group of proxies to create (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProxiesFilteredGroupCall(ProxiesFilteredGroup body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/proxies/filtered-groups";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "*/*"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProxiesFilteredGroupValidateBeforeCall(ProxiesFilteredGroup body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createProxiesFilteredGroup(Async)");
        }
        
        com.squareup.okhttp.Call call = createProxiesFilteredGroupCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create filtered group of proxies
     * Create the settings for a filtered group of proxies.
     * @param body Data for the filtered group of proxies to create (required)
     * @return ProxiesFilteredGroup
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProxiesFilteredGroup createProxiesFilteredGroup(ProxiesFilteredGroup body) throws ApiException {
        ApiResponse<ProxiesFilteredGroup> resp = createProxiesFilteredGroupWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create filtered group of proxies
     * Create the settings for a filtered group of proxies.
     * @param body Data for the filtered group of proxies to create (required)
     * @return ApiResponse&lt;ProxiesFilteredGroup&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProxiesFilteredGroup> createProxiesFilteredGroupWithHttpInfo(ProxiesFilteredGroup body) throws ApiException {
        com.squareup.okhttp.Call call = createProxiesFilteredGroupValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ProxiesFilteredGroup>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create filtered group of proxies (asynchronously)
     * Create the settings for a filtered group of proxies.
     * @param body Data for the filtered group of proxies to create (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProxiesFilteredGroupAsync(ProxiesFilteredGroup body, final ApiCallback<ProxiesFilteredGroup> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProxiesFilteredGroupValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProxiesFilteredGroup>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteAllocator
     * @param allocatorId The allocator identifier. (required)
     * @param removeInstances Removes the instances from the deleted allocator. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteAllocatorCall(String allocatorId, Boolean removeInstances, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/allocators/{allocator_id}"
            .replaceAll("\\{" + "allocator_id" + "\\}", apiClient.escapeString(allocatorId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (removeInstances != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("remove_instances", removeInstances));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteAllocatorValidateBeforeCall(String allocatorId, Boolean removeInstances, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'allocatorId' is set
        if (allocatorId == null) {
            throw new ApiException("Missing the required parameter 'allocatorId' when calling deleteAllocator(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteAllocatorCall(allocatorId, removeInstances, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete allocator
     * Deletes the allocator.
     * @param allocatorId The allocator identifier. (required)
     * @param removeInstances Removes the instances from the deleted allocator. (optional)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse deleteAllocator(String allocatorId, Boolean removeInstances) throws ApiException {
        ApiResponse<EmptyResponse> resp = deleteAllocatorWithHttpInfo(allocatorId, removeInstances);
        return resp.getData();
    }

    /**
     * Delete allocator
     * Deletes the allocator.
     * @param allocatorId The allocator identifier. (required)
     * @param removeInstances Removes the instances from the deleted allocator. (optional)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> deleteAllocatorWithHttpInfo(String allocatorId, Boolean removeInstances) throws ApiException {
        com.squareup.okhttp.Call call = deleteAllocatorValidateBeforeCall(allocatorId, removeInstances, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete allocator (asynchronously)
     * Deletes the allocator.
     * @param allocatorId The allocator identifier. (required)
     * @param removeInstances Removes the instances from the deleted allocator. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteAllocatorAsync(String allocatorId, Boolean removeInstances, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteAllocatorValidateBeforeCall(allocatorId, removeInstances, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteAllocatorMetadataItem
     * @param allocatorId The allocator identifier. (required)
     * @param key The metadata item key. (required)
     * @param version Checks for conflicts against the metadata version, then returns the value in the &#x60;x-cloud-resource-version&#x60; header. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteAllocatorMetadataItemCall(String allocatorId, String key, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/allocators/{allocator_id}/metadata/{key}"
            .replaceAll("\\{" + "allocator_id" + "\\}", apiClient.escapeString(allocatorId.toString()))
            .replaceAll("\\{" + "key" + "\\}", apiClient.escapeString(key.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteAllocatorMetadataItemValidateBeforeCall(String allocatorId, String key, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'allocatorId' is set
        if (allocatorId == null) {
            throw new ApiException("Missing the required parameter 'allocatorId' when calling deleteAllocatorMetadataItem(Async)");
        }
        // verify the required parameter 'key' is set
        if (key == null) {
            throw new ApiException("Missing the required parameter 'key' when calling deleteAllocatorMetadataItem(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteAllocatorMetadataItemCall(allocatorId, key, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete allocator metadata item
     * Removes a single item from the allocator metadata.
     * @param allocatorId The allocator identifier. (required)
     * @param key The metadata item key. (required)
     * @param version Checks for conflicts against the metadata version, then returns the value in the &#x60;x-cloud-resource-version&#x60; header. (optional)
     * @return List&lt;MetadataItem&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<MetadataItem> deleteAllocatorMetadataItem(String allocatorId, String key, Integer version) throws ApiException {
        ApiResponse<List<MetadataItem>> resp = deleteAllocatorMetadataItemWithHttpInfo(allocatorId, key, version);
        return resp.getData();
    }

    /**
     * Delete allocator metadata item
     * Removes a single item from the allocator metadata.
     * @param allocatorId The allocator identifier. (required)
     * @param key The metadata item key. (required)
     * @param version Checks for conflicts against the metadata version, then returns the value in the &#x60;x-cloud-resource-version&#x60; header. (optional)
     * @return ApiResponse&lt;List&lt;MetadataItem&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<MetadataItem>> deleteAllocatorMetadataItemWithHttpInfo(String allocatorId, String key, Integer version) throws ApiException {
        com.squareup.okhttp.Call call = deleteAllocatorMetadataItemValidateBeforeCall(allocatorId, key, version, null, null);
        Type localVarReturnType = new TypeToken<List<MetadataItem>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete allocator metadata item (asynchronously)
     * Removes a single item from the allocator metadata.
     * @param allocatorId The allocator identifier. (required)
     * @param key The metadata item key. (required)
     * @param version Checks for conflicts against the metadata version, then returns the value in the &#x60;x-cloud-resource-version&#x60; header. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteAllocatorMetadataItemAsync(String allocatorId, String key, Integer version, final ApiCallback<List<MetadataItem>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteAllocatorMetadataItemValidateBeforeCall(allocatorId, key, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<MetadataItem>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteBlueprinterRole
     * @param blueprinterRoleId User-specified Blueprinter role ID. (required)
     * @param version When specified, checks for conflicts against the version stored in the persistent store (returned in &#x27;x-cloud-resource-version&#x27; of the GET request) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteBlueprinterRoleCall(String blueprinterRoleId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/blueprinter/roles/{blueprinter_role_id}"
            .replaceAll("\\{" + "blueprinter_role_id" + "\\}", apiClient.escapeString(blueprinterRoleId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteBlueprinterRoleValidateBeforeCall(String blueprinterRoleId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'blueprinterRoleId' is set
        if (blueprinterRoleId == null) {
            throw new ApiException("Missing the required parameter 'blueprinterRoleId' when calling deleteBlueprinterRole(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteBlueprinterRoleCall(blueprinterRoleId, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete role
     * Delete a role.
     * @param blueprinterRoleId User-specified Blueprinter role ID. (required)
     * @param version When specified, checks for conflicts against the version stored in the persistent store (returned in &#x27;x-cloud-resource-version&#x27; of the GET request) (optional)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse deleteBlueprinterRole(String blueprinterRoleId, Integer version) throws ApiException {
        ApiResponse<EmptyResponse> resp = deleteBlueprinterRoleWithHttpInfo(blueprinterRoleId, version);
        return resp.getData();
    }

    /**
     * Delete role
     * Delete a role.
     * @param blueprinterRoleId User-specified Blueprinter role ID. (required)
     * @param version When specified, checks for conflicts against the version stored in the persistent store (returned in &#x27;x-cloud-resource-version&#x27; of the GET request) (optional)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> deleteBlueprinterRoleWithHttpInfo(String blueprinterRoleId, Integer version) throws ApiException {
        com.squareup.okhttp.Call call = deleteBlueprinterRoleValidateBeforeCall(blueprinterRoleId, version, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete role (asynchronously)
     * Delete a role.
     * @param blueprinterRoleId User-specified Blueprinter role ID. (required)
     * @param version When specified, checks for conflicts against the version stored in the persistent store (returned in &#x27;x-cloud-resource-version&#x27; of the GET request) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteBlueprinterRoleAsync(String blueprinterRoleId, Integer version, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteBlueprinterRoleValidateBeforeCall(blueprinterRoleId, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteConfigStoreOption
     * @param configOptionId Name of the Config Store Option that you would like to delete (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteConfigStoreOptionCall(String configOptionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/configuration/store/{config_option_id}"
            .replaceAll("\\{" + "config_option_id" + "\\}", apiClient.escapeString(configOptionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteConfigStoreOptionValidateBeforeCall(String configOptionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'configOptionId' is set
        if (configOptionId == null) {
            throw new ApiException("Missing the required parameter 'configOptionId' when calling deleteConfigStoreOption(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteConfigStoreOptionCall(configOptionId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete Config Store Option by name
     * Delete Config Store Option by name.
     * @param configOptionId Name of the Config Store Option that you would like to delete (required)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse deleteConfigStoreOption(String configOptionId) throws ApiException {
        ApiResponse<EmptyResponse> resp = deleteConfigStoreOptionWithHttpInfo(configOptionId);
        return resp.getData();
    }

    /**
     * Delete Config Store Option by name
     * Delete Config Store Option by name.
     * @param configOptionId Name of the Config Store Option that you would like to delete (required)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> deleteConfigStoreOptionWithHttpInfo(String configOptionId) throws ApiException {
        com.squareup.okhttp.Call call = deleteConfigStoreOptionValidateBeforeCall(configOptionId, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete Config Store Option by name (asynchronously)
     * Delete Config Store Option by name.
     * @param configOptionId Name of the Config Store Option that you would like to delete (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteConfigStoreOptionAsync(String configOptionId, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteConfigStoreOptionValidateBeforeCall(configOptionId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteLicense
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteLicenseCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/license";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteLicenseValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = deleteLicenseCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete license
     * Deletes the license.
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse deleteLicense() throws ApiException {
        ApiResponse<EmptyResponse> resp = deleteLicenseWithHttpInfo();
        return resp.getData();
    }

    /**
     * Delete license
     * Deletes the license.
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> deleteLicenseWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = deleteLicenseValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete license (asynchronously)
     * Deletes the license.
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteLicenseAsync(final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteLicenseValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteProxiesFilteredGroup
     * @param proxiesFilteredGroupId \&quot;The identifier for the filtered group of proxies (required)
     * @param version Checks for conflicts against the metadata version, then returns the value in the &#x60;x-cloud-resource-version&#x60; header. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteProxiesFilteredGroupCall(String proxiesFilteredGroupId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/proxies/filtered-groups/{proxies_filtered_group_id}"
            .replaceAll("\\{" + "proxies_filtered_group_id" + "\\}", apiClient.escapeString(proxiesFilteredGroupId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteProxiesFilteredGroupValidateBeforeCall(String proxiesFilteredGroupId, Integer version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'proxiesFilteredGroupId' is set
        if (proxiesFilteredGroupId == null) {
            throw new ApiException("Missing the required parameter 'proxiesFilteredGroupId' when calling deleteProxiesFilteredGroup(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteProxiesFilteredGroupCall(proxiesFilteredGroupId, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete filtered group of proxies
     * Deletes a filtered group of proxies by ID.
     * @param proxiesFilteredGroupId \&quot;The identifier for the filtered group of proxies (required)
     * @param version Checks for conflicts against the metadata version, then returns the value in the &#x60;x-cloud-resource-version&#x60; header. (optional)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse deleteProxiesFilteredGroup(String proxiesFilteredGroupId, Integer version) throws ApiException {
        ApiResponse<EmptyResponse> resp = deleteProxiesFilteredGroupWithHttpInfo(proxiesFilteredGroupId, version);
        return resp.getData();
    }

    /**
     * Delete filtered group of proxies
     * Deletes a filtered group of proxies by ID.
     * @param proxiesFilteredGroupId \&quot;The identifier for the filtered group of proxies (required)
     * @param version Checks for conflicts against the metadata version, then returns the value in the &#x60;x-cloud-resource-version&#x60; header. (optional)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> deleteProxiesFilteredGroupWithHttpInfo(String proxiesFilteredGroupId, Integer version) throws ApiException {
        com.squareup.okhttp.Call call = deleteProxiesFilteredGroupValidateBeforeCall(proxiesFilteredGroupId, version, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete filtered group of proxies (asynchronously)
     * Deletes a filtered group of proxies by ID.
     * @param proxiesFilteredGroupId \&quot;The identifier for the filtered group of proxies (required)
     * @param version Checks for conflicts against the metadata version, then returns the value in the &#x60;x-cloud-resource-version&#x60; header. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteProxiesFilteredGroupAsync(String proxiesFilteredGroupId, Integer version, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteProxiesFilteredGroupValidateBeforeCall(proxiesFilteredGroupId, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteRunner
     * @param runnerId The identifier for the runner (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteRunnerCall(String runnerId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/runners/{runner_id}"
            .replaceAll("\\{" + "runner_id" + "\\}", apiClient.escapeString(runnerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteRunnerValidateBeforeCall(String runnerId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'runnerId' is set
        if (runnerId == null) {
            throw new ApiException("Missing the required parameter 'runnerId' when calling deleteRunner(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteRunnerCall(runnerId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete runner
     * Delete a runner by id.
     * @param runnerId The identifier for the runner (required)
     * @return EmptyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EmptyResponse deleteRunner(String runnerId) throws ApiException {
        ApiResponse<EmptyResponse> resp = deleteRunnerWithHttpInfo(runnerId);
        return resp.getData();
    }

    /**
     * Delete runner
     * Delete a runner by id.
     * @param runnerId The identifier for the runner (required)
     * @return ApiResponse&lt;EmptyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EmptyResponse> deleteRunnerWithHttpInfo(String runnerId) throws ApiException {
        com.squareup.okhttp.Call call = deleteRunnerValidateBeforeCall(runnerId, null, null);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete runner (asynchronously)
     * Delete a runner by id.
     * @param runnerId The identifier for the runner (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteRunnerAsync(String runnerId, final ApiCallback<EmptyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteRunnerValidateBeforeCall(runnerId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EmptyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getAllocator
     * @param allocatorId The allocator identifier. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAllocatorCall(String allocatorId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/allocators/{allocator_id}"
            .replaceAll("\\{" + "allocator_id" + "\\}", apiClient.escapeString(allocatorId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAllocatorValidateBeforeCall(String allocatorId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'allocatorId' is set
        if (allocatorId == null) {
            throw new ApiException("Missing the required parameter 'allocatorId' when calling getAllocator(Async)");
        }
        
        com.squareup.okhttp.Call call = getAllocatorCall(allocatorId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get allocator
     * Retrieves the allocator by the ID.
     * @param allocatorId The allocator identifier. (required)
     * @return AllocatorInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AllocatorInfo getAllocator(String allocatorId) throws ApiException {
        ApiResponse<AllocatorInfo> resp = getAllocatorWithHttpInfo(allocatorId);
        return resp.getData();
    }

    /**
     * Get allocator
     * Retrieves the allocator by the ID.
     * @param allocatorId The allocator identifier. (required)
     * @return ApiResponse&lt;AllocatorInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AllocatorInfo> getAllocatorWithHttpInfo(String allocatorId) throws ApiException {
        com.squareup.okhttp.Call call = getAllocatorValidateBeforeCall(allocatorId, null, null);
        Type localVarReturnType = new TypeToken<AllocatorInfo>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get allocator (asynchronously)
     * Retrieves the allocator by the ID.
     * @param allocatorId The allocator identifier. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAllocatorAsync(String allocatorId, final ApiCallback<AllocatorInfo> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAllocatorValidateBeforeCall(allocatorId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AllocatorInfo>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getAllocatorMetadata
     * @param allocatorId The allocator identifier. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAllocatorMetadataCall(String allocatorId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/allocators/{allocator_id}/metadata"
            .replaceAll("\\{" + "allocator_id" + "\\}", apiClient.escapeString(allocatorId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAllocatorMetadataValidateBeforeCall(String allocatorId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'allocatorId' is set
        if (allocatorId == null) {
            throw new ApiException("Missing the required parameter 'allocatorId' when calling getAllocatorMetadata(Async)");
        }
        
        com.squareup.okhttp.Call call = getAllocatorMetadataCall(allocatorId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get allocator metadata
     * Retrieves the allocator metadata.
     * @param allocatorId The allocator identifier. (required)
     * @return List&lt;MetadataItem&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<MetadataItem> getAllocatorMetadata(String allocatorId) throws ApiException {
        ApiResponse<List<MetadataItem>> resp = getAllocatorMetadataWithHttpInfo(allocatorId);
        return resp.getData();
    }

    /**
     * Get allocator metadata
     * Retrieves the allocator metadata.
     * @param allocatorId The allocator identifier. (required)
     * @return ApiResponse&lt;List&lt;MetadataItem&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<MetadataItem>> getAllocatorMetadataWithHttpInfo(String allocatorId) throws ApiException {
        com.squareup.okhttp.Call call = getAllocatorMetadataValidateBeforeCall(allocatorId, null, null);
        Type localVarReturnType = new TypeToken<List<MetadataItem>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get allocator metadata (asynchronously)
     * Retrieves the allocator metadata.
     * @param allocatorId The allocator identifier. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAllocatorMetadataAsync(String allocatorId, final ApiCallback<List<MetadataItem>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAllocatorMetadataValidateBeforeCall(allocatorId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<MetadataItem>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getAllocatorSettings
     * @param allocatorId The allocator identifier. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAllocatorSettingsCall(String allocatorId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/allocators/{allocator_id}/settings"
            .replaceAll("\\{" + "allocator_id" + "\\}", apiClient.escapeString(allocatorId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAllocatorSettingsValidateBeforeCall(String allocatorId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'allocatorId' is set
        if (allocatorId == null) {
            throw new ApiException("Missing the required parameter 'allocatorId' when calling getAllocatorSettings(Async)");
        }
        
        com.squareup.okhttp.Call call = getAllocatorSettingsCall(allocatorId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get allocator settings
     * Retrieves the allocator override settings.
     * @param allocatorId The allocator identifier. (required)
     * @return AllocatorSettings
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AllocatorSettings getAllocatorSettings(String allocatorId) throws ApiException {
        ApiResponse<AllocatorSettings> resp = getAllocatorSettingsWithHttpInfo(allocatorId);
        return resp.getData();
    }

    /**
     * Get allocator settings
     * Retrieves the allocator override settings.
     * @param allocatorId The allocator identifier. (required)
     * @return ApiResponse&lt;AllocatorSettings&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AllocatorSettings> getAllocatorSettingsWithHttpInfo(String allocatorId) throws ApiException {
        com.squareup.okhttp.Call call = getAllocatorSettingsValidateBeforeCall(allocatorId, null, null);
        Type localVarReturnType = new TypeToken<AllocatorSettings>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get allocator settings (asynchronously)
     * Retrieves the allocator override settings.
     * @param allocatorId The allocator identifier. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAllocatorSettingsAsync(String allocatorId, final ApiCallback<AllocatorSettings> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAllocatorSettingsValidateBeforeCall(allocatorId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AllocatorSettings>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getAllocators
     * @param q (Optional) The query that filters the allocators. Maps to an Elasticsearch &#x60;query_string&#x60; query. (optional)
     * @param size (Optional) The maximum number of search results to return. Defaults to 100. (optional)
     * @param from (Optional) The offset from the first result you want to fetch. Defaults to 0. (optional)
     * @param sort (Optional) An comma-separated array of fields to sort the search results by. Defaults to &#x60;allocator_id&#x60;. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAllocatorsCall(String q, Integer size, Integer from, String sort, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/platform/infrastructure/allocators";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (q != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (sort != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey", "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAllocatorsValidateBeforeCall(String q, Integer size, Integer from, String sort, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
[...]
